<div ng-init="bookCtrl.addBookForm()">
    <ol class="breadcrumb">
        <li><a href="" ng-href="#!/home">Home</a></li>
        <li><a href="" ng-href="#!/admin/books">Books</a></li>
        <li class="active">Add Book</li>
    </ol>
    <div class="col-md-offset-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{bookCtrl.bookForm.title}}</h3>
            </div>
            <div class="panel-body">
                <form name="createEdit" ng-submit="bookCtrl.submitForm()" role="form" novalidate>

                    <!-- Accession Number Field Starts Here -->
                    <div class="form-group" ng-class="{'has-error has-feedback': createEdit.accessionNumber.$invalid && createEdit.accessionNumber.$touched
                             || createEdit.accessionNumber.$invalid && createEdit.$submitted,
                             'has-success has-feedback': createEdit.accessionNumber.$valid || createEdit.accessionNumber.$valid
                             && createEdit.$submitted}">

                        <label for="accessionNumber">Accession Number</label>
                        <input type="text" class="form-control"
                               name="accessionNumber"
                               placeholder="Enter Accession Number"
                               ng-model="bookCtrl.bookForm.book.accessionNumber"
                               required />

                        <span class="glyphicon form-control-feedback"
                              ng-class="{'glyphicon-ok': createEdit.accessionNumber.$valid || createEdit.accessionNumber.$valid && createEdit.$submitted,
                          'glyphicon-remove': createEdit.accessionNumber.$invalid && createEdit.accessionNumber.$touched
                           || createEdit.accessionNumber.$invalid && createEdit.$submitted}">
                        </span>

                        <div ng-show="createEdit.accessionNumber.$invalid && createEdit.accessionNumber.$touched || createEdit.$submitted">
                            <span ng-show="createEdit.accessionNumber.$error.required" class="text-danger small">Please, provide accession number.</span>
                        </div>

                    </div>
                    <!-- Accession Number Field Ends Here -->
                    <!-- Title Field Starts Here -->
                    <div class="form-group" ng-class="{'has-error has-feedback': createEdit.title.$invalid && createEdit.title.$touched
                             || createEdit.title.$invalid && createEdit.$submitted,
                             'has-success has-feedback': createEdit.title.$valid || createEdit.title.$valid
                             && createEdit.$submitted}">

                        <label for="title">Title</label>
                        <input type="text" class="form-control"
                               name="title"
                               placeholder="Enter Book Title"
                               ng-model="bookCtrl.bookForm.book.title"
                               uib-typeahead="title for title in bookCtrl.titles | filter:$viewValue | limitTo:8"
                               autocomplete="off"
                               required />

                        <span class="glyphicon form-control-feedback"
                              ng-class="{'glyphicon-ok': createEdit.title.$valid || createEdit.title.$valid && createEdit.$submitted,
                          'glyphicon-remove': createEdit.title.$invalid && createEdit.title.$touched
                           || createEdit.title.$invalid && createEdit.$submitted}">
                        </span>

                        <div ng-show="createEdit.title.$invalid && createEdit.title.$touched || createEdit.$submitted">
                            <span ng-show="createEdit.title.$error.required" class="text-danger small">Please, provide title.</span>
                        </div>

                    </div>
                    <!-- Title Field Ends Here -->
                    <!-- Pages Field Starts Here -->
                    <div class="form-group" ng-class="{'has-error has-feedback': createEdit.pages.$invalid && createEdit.pages.$touched
                             || createEdit.pages.$invalid && createEdit.$submitted,
                             'has-success has-feedback': createEdit.pages.$valid || createEdit.pages.$valid
                             && createEdit.$submitted}">

                        <label for="pages">Pages</label>
                        <input type="text" class="form-control"
                               name="pages"
                               placeholder="Enter Pages"
                               ng-model="bookCtrl.bookForm.book.pages"
                               required />

                        <span class="glyphicon form-control-feedback"
                              ng-class="{'glyphicon-ok': createEdit.pages.$valid || createEdit.pages.$valid && createEdit.$submitted,
                          'glyphicon-remove': createEdit.pages.$invalid && createEdit.pages.$touched
                           || createEdit.pages.$invalid && createEdit.$submitted}">
                        </span>

                        <div ng-show="createEdit.pages.$invalid && createEdit.pages.$touched || createEdit.$submitted">
                            <span ng-show="createEdit.pages.$error.required" class="text-danger small">Please, provide page number.</span>
                        </div>

                    </div>
                    <!-- Pages Field Ends Here -->
                    <!-- Author Name Field Starts Here -->
                    <div class="form-group" ng-class="{'has-error has-feedback': createEdit.author.$invalid && createEdit.author.$touched
                             || createEdit.author.$invalid && createEdit.$submitted,
                             'has-success has-feedback': createEdit.author.$valid || createEdit.author.$valid
                             && createEdit.$submitted}">

                        <label for="author">Author(s)</label>
                        <input type="text" class="form-control"
                               name="author"
                               placeholder="Enter Author Name(s)"
                               ng-model="bookCtrl.bookForm.book.author"
                               required />

                        <span class="glyphicon form-control-feedback"
                              ng-class="{'glyphicon-ok': createEdit.author.$valid || createEdit.author.$valid && createEdit.$submitted,
                          'glyphicon-remove': createEdit.author.$invalid && createEdit.author.$touched
                           || createEdit.author.$invalid && createEdit.$submitted}">
                        </span>

                        <div ng-show="createEdit.author.$invalid && createEdit.author.$touched || createEdit.$submitted">
                            <span ng-show="createEdit.author.$error.required" class="text-danger small">Please, provide author(s) name(s).</span>
                        </div>

                    </div>
                    <!-- Author Name Field Ends Here -->
                    <!-- Publisher Field Starts Here -->
                    <div class="form-group" ng-class="{'has-error has-feedback': createEdit.publisher.$invalid && createEdit.publisher.$touched
                             || createEdit.publisher.$invalid && createEdit.$submitted,
                             'has-success has-feedback': createEdit.publisher.$valid || createEdit.publisher.$valid
                             && createEdit.$submitted}">

                        <label for="publisher">Publisher</label>
                        <select class="form-control" name="publisher"
                                ng-model="bookCtrl.bookForm.book.publisher"
                                ng-options="publisher.name as publisher.name for publisher in  bookCtrl.bookForm.publishers"
                                ng-change="bookCtrl.getCourses()"
                                required>
                            <option value="" disabled>Select Publisher</option>
                        </select>

                        <div ng-show="createEdit.publisher.$invalid && createEdit.publisher.$touched || createEdit.$submitted">
                            <span ng-show="createEdit.publisher.$error.required" class="text-danger small">Please, select publisher.</span>
                        </div>

                    </div>
                    <!-- Publisher Field Ends Here -->
                    <!-- Place of Publication Field Ends Here -->
                    <div class="form-group" ng-class="{'has-error has-feedback': createEdit.placeOfPublication.$invalid && createEdit.placeOfPublication.$touched
                             || createEdit.placeOfPublication.$invalid && createEdit.$submitted,
                             'has-success has-feedback': createEdit.placeOfPublication.$valid || createEdit.placeOfPublication.$valid
                             && createEdit.$submitted}">

                        <label for="placeOfPublication">Place of Publication</label>
                        <input type="text" class="form-control"
                               name="placeOfPublication"
                               placeholder="Enter Place of Publication"
                               ng-model="bookCtrl.bookForm.book.placeOfPublication"
                               required />

                        <span class="glyphicon form-control-feedback"
                              ng-class="{'glyphicon-ok': createEdit.placeOfPublication.$valid || createEdit.placeOfPublication.$valid && createEdit.$submitted,
                          'glyphicon-remove': createEdit.placeOfPublication.$invalid && createEdit.placeOfPublication.$touched
                           || createEdit.placeOfPublication.$invalid && createEdit.$submitted}">
                        </span>

                        <div ng-show="createEdit.placeOfPublication.$invalid && createEdit.placeOfPublication.$touched || createEdit.$submitted">
                            <span ng-show="createEdit.placeOfPublication.$error.required" class="text-danger small">Please, provide place of publication.</span>
                        </div>

                    </div>
                    <!-- Place of Publication Field Ends Here -->
                    <!-- Date of Publication Field Ends Here -->
                    <div class="form-group" ng-class="{'has-error has-feedback': createEdit.dateOfPublication.$invalid && createEdit.dateOfPublication.$touched
                             || createEdit.dateOfPublication.$invalid && createEdit.$submitted,
                             'has-success has-feedback': createEdit.dateOfPublication.$valid || createEdit.dateOfPublication.$valid
                             && createEdit.$submitted}">
                        <label for="dateOfPublication">Date of Publication</label>
                        <div class="input-group">
                            <input type="text" class="form-control"
                                   name="dateOfPublication"
                                   placeholder="Enter Date of Publication"
                                   ng-model="bookCtrl.bookForm.book.dateOfPublication"
                                   uib-datepicker-popup="MMM, yyyy"
                                   datepicker-options="bookCtrl.publicationDateOptions"
                                   close-text="Close"
                                   is-open="bookCtrl.dateOfPublicationPopup.opened"
                                   required />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="bookCtrl.dateOfPublicationDatePicker()"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>

                        <div ng-show="createEdit.dateOfPublication.$invalid && createEdit.dateOfPublication.$touched || createEdit.$submitted">
                            <span ng-show="createEdit.dateOfPublication.$error.required" class="text-danger small">Please, provide date of publication.</span>
                        </div>

                    </div>
                    <!-- Date of Publication Field Ends Here -->
                    <!-- Course Field Starts Here -->
                    <div class="form-group" ng-class="{'has-error has-feedback': createEdit.course.$invalid && createEdit.course.$touched
                             || createEdit.course.$invalid && createEdit.$submitted,
                             'has-success has-feedback': createEdit.course.$valid || createEdit.course.$valid
                             && createEdit.$submitted}">
                        <label for="course">Course</label>
                        <select class="form-control" name="course"
                                ng-model="bookCtrl.bookForm.book.course"
                                ng-options="course.name as course.name for course in  bookCtrl.bookForm.courses"
                                ng-change="bookCtrl.getSemesters(bookCtrl.bookForm.courses, bookCtrl.bookForm.book.course)"
                                ng-disabled="!bookCtrl.bookForm.book.publisher"
                                required>
                            <option value="" disabled>Select Course</option>
                        </select>

                        <div ng-show="createEdit.course.$invalid && createEdit.course.$touched || createEdit.$submitted">
                            <span ng-show="createEdit.course.$error.required" class="text-danger small">Please, select course.</span>
                        </div>

                    </div>
                    <!-- Course Field Ends Here -->
                    <!-- Semester Field Starts Here -->
                    <div class="form-group" ng-class="{'has-error has-feedback': createEdit.semester.$invalid && createEdit.semester.$touched
                             || createEdit.semester.$invalid && createEdit.$submitted,
                             'has-success has-feedback': createEdit.semester.$valid || createEdit.semester.$valid
                             && createEdit.$submitted}">
                        <label for="semester">Semester</label>
                        <select class="form-control" name="semester"
                                ng-model="bookCtrl.bookForm.book.semester"
                                ng-options="semester as semester for semester in  bookCtrl.bookForm.semesters"
                                ng-change="bookCtrl.getSubjects(bookCtrl.bookForm.book.course, bookCtrl.bookForm.book.semester)"
                                ng-disabled="!bookCtrl.bookForm.book.course"
                                required>
                            <option value="" disabled>Select Semester</option>
                        </select>

                        <div ng-show="createEdit.semester.$invalid && createEdit.semester.$touched || createEdit.$submitted">
                            <span ng-show="createEdit.semester.$error.required" class="text-danger small">Please, select semester.</span>
                        </div>

                    </div>
                    <!-- Semester Field Ends Here -->
                    <!-- Subject Field Starts Here -->
                    <div class="form-group" ng-class="{'has-error has-feedback': createEdit.subject.$invalid && createEdit.subject.$touched
                             || createEdit.subject.$invalid && createEdit.$submitted,
                             'has-success has-feedback': createEdit.subject.$valid || createEdit.subject.$valid
                             && createEdit.$submitted}">
                        <label for="subject">Subject</label>
                        <select class="form-control" name="subject"
                                ng-model="bookCtrl.bookForm.book.subject"
                                ng-options="subject.name as subject.name for subject in  bookCtrl.bookForm.subjects"
                                ng-change="bookCtrl.getTypeOfBook()"
                                ng-disabled="!bookCtrl.bookForm.book.semester"
                                required>
                            <option value="" disabled>Select Subject</option>
                        </select>

                        <div ng-show="createEdit.subject.$invalid && createEdit.subject.$touched || createEdit.$submitted">
                            <span ng-show="createEdit.subject.$error.required" class="text-danger small">Please, select subject.</span>
                        </div>

                    </div>
                    <!-- Subject Field Ends Here -->
                    <!-- Type of Book Field Starts Here -->
                    <div class="form-group" ng-class="{'has-error has-feedback': createEdit.typeOfBook.$invalid && createEdit.typeOfBook.$touched
                             || createEdit.typeOfBook.$invalid && createEdit.$submitted,
                             'has-success has-feedback': createEdit.typeOfBook.$valid || createEdit.typeOfBook.$valid
                             && createEdit.$submitted}">
                        <label for="typeOfBook">Type of Book</label>
                        <select class="form-control" name="typeOfBook"
                                ng-model="bookCtrl.bookForm.book.typeOfBook"
                                ng-options="typeOfbook as typeOfbook for typeOfbook in  bookCtrl.bookForm.typesOfBook"
                                ng-change="bookCtrl.getStatus()"
                                ng-disabled="!bookCtrl.bookForm.book.subject"
                                required>
                            <option value="" disabled>Select Type</option>
                        </select>

                        <div ng-show="createEdit.typeOfBook.$invalid && createEdit.typeOfBook.$touched || createEdit.$submitted">
                            <span ng-show="createEdit.typeOfBook.$error.required" class="text-danger small">Please, select type of book.</span>
                        </div>

                    </div>
                    <!-- Type of Book Field Ends Here -->
                    <div class="form-group" ng-class="{'has-error has-feedback': createEdit.source.$invalid && createEdit.source.$touched
                             || createEdit.source.$invalid && createEdit.$submitted,
                             'has-success has-feedback': createEdit.source.$valid || createEdit.source.$valid
                             && createEdit.$submitted}">
                        <label for="source">Source</label>
                        <input type="text" class="form-control"
                               name="source"
                               placeholder="Enter Source"
                               ng-model="bookCtrl.bookForm.book.source"
                               required />

                        <span class="glyphicon form-control-feedback"
                              ng-class="{'glyphicon-ok': createEdit.source.$valid || createEdit.source.$valid && createEdit.$submitted,
                          'glyphicon-remove': createEdit.source.$invalid && createEdit.source.$touched
                           || createEdit.source.$invalid && createEdit.$submitted}">
                        </span>

                        <div ng-show="createEdit.source.$invalid && createEdit.source.$touched || createEdit.$submitted">
                            <span ng-show="createEdit.source.$error.required" class="text-danger small">Please, provide source.</span>
                        </div>

                    </div>
                    <div class="form-group" ng-class="{'has-error has-feedback': createEdit.edition.$invalid && createEdit.edition.$touched
                             || createEdit.edition.$invalid && createEdit.$submitted,
                             'has-success has-feedback': createEdit.edition.$valid || createEdit.edition.$valid
                             && createEdit.$submitted}">
                        <label for="edition">Edition</label>
                        <input type="text" class="form-control"
                               name="edition"
                               placeholder="Enter Edition"
                               ng-model="bookCtrl.bookForm.book.edition"
                               required />

                        <span class="glyphicon form-control-feedback"
                              ng-class="{'glyphicon-ok': createEdit.edition.$valid || createEdit.edition.$valid && createEdit.$submitted,
                          'glyphicon-remove': createEdit.edition.$invalid && createEdit.edition.$touched
                           || createEdit.edition.$invalid && createEdit.$submitted}">
                        </span>

                        <div ng-show="createEdit.edition.$invalid && createEdit.edition.$touched || createEdit.$submitted">
                            <span ng-show="createEdit.edition.$error.required" class="text-danger small">Please, provide edition.</span>
                        </div>

                    </div>

                    <div class="form-group" ng-class="{'has-error has-feedback': createEdit.classNo.$invalid && createEdit.classNo.$touched
                             || createEdit.classNo.$invalid && createEdit.$submitted,
                             'has-success has-feedback': createEdit.classNo.$valid || createEdit.classNo.$valid
                             && createEdit.$submitted}">
                        <label for="classNo">Class Number</label>
                        <input type="text" class="form-control"
                               name="classNo"
                               placeholder="Enter Class Number"
                               ng-model="bookCtrl.bookForm.book.classNo"
                               required />

                        <span class="glyphicon form-control-feedback"
                              ng-class="{'glyphicon-ok': createEdit.classNo.$valid || createEdit.classNo.$valid && createEdit.$submitted,
                          'glyphicon-remove': createEdit.classNo.$invalid && createEdit.classNo.$touched
                           || createEdit.classNo.$invalid && createEdit.$submitted}">
                        </span>

                        <div ng-show="createEdit.classNo.$invalid && createEdit.classNo.$touched || createEdit.$submitted">
                            <span ng-show="createEdit.classNo.$error.required" class="text-danger small">Please, provide class number.</span>
                        </div>

                    </div>
                    <div class="form-group" ng-class="{'has-error has-feedback': createEdit.actualPrice.$invalid && createEdit.actualPrice.$touched
                             || createEdit.actualPrice.$invalid && createEdit.$submitted,
                             'has-success has-feedback': createEdit.actualPrice.$valid || createEdit.actualPrice.$valid
                             && createEdit.$submitted}">
                        <label for="actualPrice">Actual Price</label>
                        <input type="text" class="form-control"
                               name="actualPrice"
                               placeholder="Enter Actual Price"
                               ng-model="bookCtrl.bookForm.book.actualPrice"
                               required />

                        <span class="glyphicon form-control-feedback"
                              ng-class="{'glyphicon-ok': createEdit.actualPrice.$valid || createEdit.actualPrice.$valid && createEdit.$submitted,
                          'glyphicon-remove': createEdit.actualPrice.$invalid && createEdit.actualPrice.$touched
                           || createEdit.actualPrice.$invalid && createEdit.$submitted}">
                        </span>

                        <div ng-show="createEdit.actualPrice.$invalid && createEdit.actualPrice.$touched || createEdit.$submitted">
                            <span ng-show="createEdit.actualPrice.$error.required" class="text-danger small">Please, provide actual price.</span>
                        </div>

                    </div>
                    <div class="form-group" ng-class="{'has-error has-feedback': createEdit.discount.$invalid && createEdit.discount.$touched
                             || createEdit.discount.$invalid && createEdit.$submitted,
                             'has-success has-feedback': createEdit.discount.$valid || createEdit.discount.$valid
                             && createEdit.$submitted}">
                        <label for="discount">Discount</label>
                        <input type="text" class="form-control"
                               name="discount"
                               placeholder="Enter Discount"
                               ng-blur="bookCtrl.calculateDiscount(bookCtrl.bookForm.book.actualPrice, bookCtrl.bookForm.book.discount)"
                               ng-model="bookCtrl.bookForm.book.discount"
                               required />

                        <span class="glyphicon form-control-feedback"
                              ng-class="{'glyphicon-ok': createEdit.discount.$valid || createEdit.discount.$valid && createEdit.$submitted,
                          'glyphicon-remove': createEdit.discount.$invalid && createEdit.discount.$touched
                           || createEdit.discount.$invalid && createEdit.$submitted}">
                        </span>

                        <div ng-show="createEdit.discount.$invalid && createEdit.discount.$touched || createEdit.$submitted">
                            <span ng-show="createEdit.discount.$error.required" class="text-danger small">Please, provide discount.</span>
                        </div>

                    </div>

                    <div class="form-group">
                        <label for="discountPrice">Discount Price</label>
                        <input type="text" class="form-control"
                               name="discountPrice"
                               placeholder="Enter Discount Price"
                               ng-model="bookCtrl.bookForm.book.discountPrice"
                               disabled
                               required />
                    </div>

                    <div class="form-group" ng-class="{'has-error has-feedback': createEdit.billNo.$invalid && createEdit.billNo.$touched
                             || createEdit.billNo.$invalid && createEdit.$submitted,
                             'has-success has-feedback': createEdit.billNo.$valid || createEdit.billNo.$valid
                             && createEdit.$submitted}">
                        <label for="billNo">Bill Number</label>
                        <input type="text" class="form-control"
                               name="billNo"
                               placeholder="Enter Bill Number"
                               ng-model="bookCtrl.bookForm.book.billNo"
                               required />

                        <span class="glyphicon form-control-feedback"
                              ng-class="{'glyphicon-ok': createEdit.billNo.$valid || createEdit.billNo.$valid && createEdit.$submitted,
                          'glyphicon-remove': createEdit.billNo.$invalid && createEdit.billNo.$touched
                           || createEdit.billNo.$invalid && createEdit.$submitted}">
                        </span>

                        <div ng-show="createEdit.billNo.$invalid && createEdit.billNo.$touched || createEdit.$submitted">
                            <span ng-show="createEdit.billNo.$error.required" class="text-danger small">Please, provide bill number.</span>
                        </div>

                    </div>

                    <div class="form-group" ng-class="{'has-error has-feedback': createEdit.billDate.$invalid && createEdit.billDate.$touched
                             || createEdit.billDate.$invalid && createEdit.$submitted,
                             'has-success has-feedback': createEdit.billDate.$valid || createEdit.billDate.$valid
                             && createEdit.$submitted}">
                        <label for="billDate">Bill Date</label>
                        <div class="input-group">
                            <input type="text" class="form-control"
                                   name="billDate"
                                   placeholder="Enter Bill Date"
                                   ng-model="bookCtrl.bookForm.book.billDate"
                                   uib-datepicker-popup="EEE MMM, dd yyyy"
                                   datepicker-options="bookCtrl.dateOptions"
                                   close-text="Close"
                                   is-open="bookCtrl.billDatePopup.opened"
                                   required />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="bookCtrl.billDatePicker()"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>

                        <div ng-show="createEdit.billDate.$invalid && createEdit.billDate.$touched || createEdit.$submitted">
                            <span ng-show="createEdit.billDate.$error.required" class="text-danger small">Please, provide bill date.</span>
                        </div>

                    </div>
                    <div class="form-group" ng-class="{'has-error has-feedback': createEdit.status.$invalid && createEdit.status.$touched
                             || createEdit.status.$invalid && createEdit.$submitted,
                             'has-success has-feedback': createEdit.status.$valid || createEdit.status.$valid
                             && createEdit.$submitted}">
                        <label for="status">Status</label>
                        <select class="form-control" name="status"
                                ng-model="bookCtrl.bookForm.book.status"
                                ng-options="status as status for status in  bookCtrl.bookForm.status"
                                ng-disabled="!bookCtrl.bookForm.book.typeOfBook"
                                required>
                            <option value="" disabled>Select Status</option>
                        </select>

                        <div ng-show="createEdit.status.$invalid && createEdit.status.$touched || createEdit.$submitted">
                            <span ng-show="createEdit.status.$error.required" class="text-danger small">Please, select status.</span>
                        </div>

                    </div>

                    <input type="submit" value="{{bookCtrl.bookForm.btnText}}" class="btn btn-success form-control" />

                </form>
            </div>
        </div>
    </div>
</div>