<div ng-show="user.role == 'ADMIN' || user.role == 'LIBRARIAN'">
    <div ng-init="bookCtrl.getBooks()">
        <ol class="breadcrumb">
            <li><a href="" ng-href="#!/home">Home</a></li>
            <li class="active">Books</li>
        </ol>
        <div class="page-header">
            <h3>Books</h3>
        </div>
        <table datatable="ng" dt-options="bookCtrl.dtOptions" dt-column-defs="bookCtrl.dtColumnDefs" class="table-condensed table-hover">
            <thead>
                <tr>
                    <th class="text-center">Date</th>
                    <th class="text-center">Accession Number</th>
                    <th class="text-center">Title</th>
                    <th class="text-center">Pages</th>
                    <th class="text-center">Author(s)</th>
                    <th class="text-center">Publisher</th>
                    <th class="text-center">Place</th>
                    <th class="text-center">Date of Publication</th>
                    <th class="text-center">Course</th>
                    <th class="text-center">Semester</th>
                    <th class="text-center">Subject</th>
                    <th class="text-center">Type of Book</th>
                    <th class="text-center">Source</th>
                    <th class="text-center">Edition</th>
                    <th class="text-center">Class No</th>
                    <th class="text-center">Actual Price</th>
                    <th class="text-center">Discount</th>
                    <th class="text-center">Discount Price</th>
                    <th class="text-center">Bill Number</th>
                    <th class="text-center">Bill Date</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="book in bookCtrl.books">
                    <td>{{ book.date | date: "EEE MMM, dd yyyy"}}</td>
                    <td>{{ book.accessionNumber }}</td>
                    <td><a href="" ng-href="#!/user/book/{{book.id}}">{{ book.title }}</a></td>
                    <td>{{ book.pages }}</td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.publisher }}</td>
                    <td>{{ book.placeOfPublication }}</td>
                    <td>{{ book.dateOfPublication | date: "MMM, yyyy"}}</td>
                    <td>{{ book.course }}</td>
                    <td>{{ book.semester }}</td>
                    <td>{{ book.subject }}</td>
                    <td>{{ book.typeOfBook }}</td>
                    <td>{{ book.source }}</td>
                    <td>{{ book.edition }}</td>
                    <td>{{ book.classNo }}</td>
                    <td>{{ book.actualPrice }}</td>
                    <td>{{ book.discount }}</td>
                    <td>{{ book.discountPrice }}</td>
                    <td>{{ book.billNo }}</td>
                    <td>{{ book.billDate | date: "EEE MMM, dd yyyy"}}</td>
                    <td>{{ book.status }}</td>
                    <td class="text-center">
                        <a href="" ng-click="bookCtrl.showEditBookForm(book.id)" class="text-warning"><i class="fa fa-pencil fa-2x" aria-hidden="true"></i></a>&nbsp;&nbsp;
                        <a href="" ng-click="bookCtrl.deleteBookModal(book.id)" class="text-danger"><i class="fa fa-trash fa-2x" aria-hidden="true"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div ng-show="user.role == 'STUDENT' || user.role == 'FACULTY'">

    <div ng-init="bookCtrl.getUserBooks()">
        <ol class="breadcrumb">
            <li><a href="" ng-href="#!/home">Home</a></li>
            <li class="active">Books</li>
        </ol>

        <div class="page-header">
            <h3>Books</h3>
        </div>

        <table datatable="ng" dt-options="bookCtrl.dtOptions" dt-column-defs="bookCtrl.dtColumnDefs" class="table-condensed table-hover">
            <thead>
                <tr>
                    <th class="text-center">Title</th>
                    <th class="text-center">Author(s)</th>
                    <th class="text-center">Publisher</th>
                    <th class="text-center">Course</th>
                    <th class="text-center">Semester</th>
                    <th class="text-center">Subject</th>
                    <th class="text-center">Type of Book</th>
                    <th class="text-center">Edition</th>

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="book in bookCtrl.books">
                    <td><a href="" ng-href="#!/user/book/{{book.id}}">{{ book.title }}</a></td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.publisher }}</td>
                    <td>{{ book.course }}</td>
                    <td>{{ book.semester }}</td>
                    <td>{{ book.subject }}</td>
                    <td>{{ book.typeOfBook }}</td>
                    <td>{{ book.edition }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
