<ol class="breadcrumb">
    <li><a href="" ng-href="#!/home">Home</a></li>
    <li class="active">Returned Books</li>
</ol>

<div class="page-header">
    <h3>Returned Books</h3>
</div>
<div ng-if="user.role == 'ADMIN' || user.role == 'LIBRARIAN'">
    <div ng-init="returnBookCtrl.getReturnBooks()">
        <table datatable="ng" dt-options="returnBookCtrl.dtOptions" dt-column-defs="returnBookCtrl.dtColumnDefs" class="table-condensed table-hover">
            <thead>
                <tr>
                    <th class="text-center">Issue Date</th>
                    <th class="text-center">Return Date</th>
                    <th class="text-center">Actual Return Date</th>
                    <th class="text-center">Accession Number</th>
                    <th class="text-center">Title</th>
                    <th class="text-center">Roll No</th>
                    <th class="text-center">Borrower</th>
                    <th class="text-center">Course</th>
                    <th class="text-center">Fine</th>
                    <th class="text-center">Librarian</th>
                    <th class="text-center">Remark</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="returnBook in returnBookCtrl.returnBooks">
                    <td>{{ returnBook.issuedDate | date: "yyyy/MM/dd"}}</td>
                    <td>{{ returnBook.returnDate | date: "yyyy/MM/dd"}}</td>
                    <td>{{ returnBook.actualReturnDate | date: "yyyy/MM/dd"}}</td>
                    <td>{{ returnBook.accessionNumber }}</td>
                    <td>{{ returnBook.bookTitle }}</td>
                    <td>{{ returnBook.rollNo }}</td>
                    <td>{{ returnBook.fullName }}</td>
                    <td>{{ returnBook.course }}</td>
                    <td><span class="fa fa-rupee"></span> {{ returnBook.fine }}</td>
                    <td>{{ returnBook.librarian }}</td>
                    <td>{{ returnBook.remark }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div ng-if="user.role == 'STUDENT' || user.role == 'FACULTY' || user.role == 'NON-TEACHING'">

    <div ng-init="returnBookCtrl.getByRollNumber()">
        <table datatable="ng" dt-options="returnBookCtrl.dtOptions" dt-column-defs="returnBookCtrl.dtColumnDefs" class="table-condensed table-hover">
            <thead>
                <tr>
                    <th class="text-center">Issue Date</th>
                    <th class="text-center">Return Date</th>
                    <th class="text-center">Actual Return Date</th>
                    <th class="text-center">Accession Number</th>
                    <th class="text-center">Title</th>
                    <th class="text-center">Roll No</th>
                    <th class="text-center">Borrower</th>
                    <th class="text-center">Course</th>
                    <th class="text-center">Fine</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="returnBook in returnBookCtrl.returnBooks">
                    <td>{{ returnBook.issuedDate | date: "yyyy/MM/dd"}}</td>
                    <td>{{ returnBook.returnDate | date: "yyyy/MM/dd"}}</td>
                    <td>{{ returnBook.actualReturnDate | date: "yyyy/MM/dd"}}</td>
                    <td>{{ returnBook.accessionNumber }}</td>
                    <td>{{ returnBook.bookTitle }}</td>
                    <td>{{ returnBook.rollNo }}</td>
                    <td>{{ returnBook.fullName }}</td>
                    <td>{{ returnBook.course }}</td>
                    <td><span class="fa fa-rupee"></span> {{ returnBook.fine }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>