<div ng-init="magazineModalCtrl.setData()">

    <div class="modal-header">
        <h4 class="modal-title">{{magazineModalCtrl.title}}</h4>
    </div>

    <div class="modal-body">
        Want to Undo the Replacement of <strong>Volume {{magazineModalCtrl.lostOrReplace.volume}}</strong> of <strong>{{magazineModalCtrl.lostOrReplace.title}}</strong> ?
        <br />
        <a href="" ng-click="magazineModalCtrl.showFineForm()">Want to Put Some Remark?</a>
        <div ng-show="magazineModalCtrl.showForm">
            <div class="form-group">
                <label for="remark">Remark</label>
                <input type="text"
                       name="remark"
                       ng-model="magazineModalCtrl.lostOrReplace.remark"
                       class="form-control"
                       placeholder="Enter Remark" />
            </div>
        </div>

    </div>

    <div class="modal-footer">
        <button class="btn btn-default" ng-click="magazineModalCtrl.cancel()">Close</button>
        <button class="btn btn-danger" ng-click="magazineModalCtrl.undoReplaceMagazine(magazineModalCtrl.lostOrReplace)">{{magazineModalCtrl.btnText}}</button>
    </div>

</div>