<div ng-init="magazineCtrl.getPeriodicDetails()">
    <ol class="breadcrumb">
        <li><a href="" ng-href="#!/home">Home</a></li>

        <li class="active">Periodical Magazines</li>
    </ol>

    <div class="page-header">
        <h3>Periodical Magazines</h3>
    </div>

    <table datatable="ng" dt-options="magazineCtrl.dtOptions" dt-column-defs="magazineCtrl.dtColumnDefs" class="table-condensed table-hover">
        <thead>
            <tr>
                <th class="text-center">Date</th>
                <th class="text-center">Title</th>
                <th class="text-center">Course</th>
                <th class="text-center">Periodicity</th>
                <th class="text-center">Publisher</th>
                <th class="text-center">Type</th>
                <th class="text-center">Subscription</th>
                <th class="text-center">Subscription Date</th>
                <th class="text-center">Subscription (Per Annum)</th>
                <th class="text-center">Subscription Duration</th>
                <th class="text-center">From</th>
                <th class="text-center">To</th>
                <th class="text-center">Volume</th>
                <th class="text-center">Source</th>
                <th class="text-center">Order No</th>
                <th class="text-center">Order Date</th>
                <th class="text-center">Bill No</th>
                <th class="text-center">Bill Date</th>
                <th class="text-center">Amount</th>
                <th class="text-center">Paid By</th>
                <th class="text-center">Cheque | DD No</th>
                <th class="text-center">Cheque | DD Date</th>
                <th class="text-center">Binding</th>
                <th class="text-center">Binding Sent Date</th>
                <th class="text-center">Binding Delivery Date</th>
                <th class="text-center" ng-show="user.role == 'ADMIN'">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="periodicDetail in magazineCtrl.periodicDetails">
                <td>{{ periodicDetail.date | date: "yyyy/MM/dd"}}</td>
                <td>
                    <a ng-if="periodicDetail.bundled == 'Yes'" href="" ng-href="#!/admin/magazines/{{periodicDetail.title}}/{{periodicDetail.id}}?publisher={{periodicDetail.publisher}}&bundled=yes">{{ periodicDetail.title}}</a>
                    <a ng-if="periodicDetail.bundled == 'No'" href="" ng-href="#!/admin/magazines/{{periodicDetail.title}}/{{periodicDetail.id}}?publisher={{periodicDetail.publisher}}">{{ periodicDetail.title}}</a>
                </td>
                <td>{{ periodicDetail.course}}</td>
                <td>{{ periodicDetail.periodicity}}</td>
                <td>{{ periodicDetail.publisher}}</td>
                <td>{{ periodicDetail.type}}</td>
                <td>{{ periodicDetail.subscription}}</td>
                <td>{{ periodicDetail.subscriptionDate | date: "yyyy/MM/dd"}}</td>
                <td>{{ periodicDetail.subscriptionAmount}}</td>
                <td>{{ periodicDetail.subscriptionDuration}}</td>
                <td>{{ periodicDetail.from | date: "MMM, yyyy"}}</td>
                <td>{{ periodicDetail.to | date: "MMM, yyyy"}}</td>
                <td>{{ periodicDetail.volume}}</td>
                <td>{{ periodicDetail.source}}</td>
                <td>{{ periodicDetail.orderNo}}</td>
                <td>{{ periodicDetail.orderDate | date: "yyyy/MM/dd"}}</td>
                <td>{{ periodicDetail.billNo}}</td>
                <td>{{ periodicDetail.billDate | date: "yyyy/MM/dd"}}</td>
                <td>{{ periodicDetail.amount}}</td>
                <td>{{ periodicDetail.paidBy}}</td>
                <td>{{ periodicDetail.chequeNo}}</td>
                <td>{{ periodicDetail.chequeDate | date: "yyyy/MM/dd"}}</td>
                <td>{{ periodicDetail.bundled }}</td>
                <td>{{ periodicDetail.bundleSentDate | date: "yyyy/MM/dd"}}</td>
                <td>{{ periodicDetail.bundleDeliveryDate | date: "yyyy/MM/dd"}}</td>
                <td class="text-center" ng-show="user.role == 'ADMIN'">
                    <a href="" ng-click="magazineCtrl.getPeriodicDetail(periodicDetail.id)" class="text-warning"><i class="fa fa-pencil fa-2x" aria-hidden="true"></i></a>&nbsp;&nbsp;
                    <a href="" ng-click="magazineCtrl.deletePeriodicDetailModal(periodicDetail.id)" class="text-danger"><i class="fa fa-trash fa-2x" aria-hidden="true"></i></a>
                </td>
            </tr>
        </tbody>
    </table>

</div>