<div ng-init="magazineModalCtrl.loadPeriodicDetailData()">
    <div class="modal-header">
        <h4 class="modal-title">{{magazineModalCtrl.title}}</h4>
    </div>

    <div class="modal-body">
        <form name="createEdit" ng-submit="magazineModalCtrl.submitPeriodicMagazineForm()" novalidate>

            <div class="form-group" ng-class="{'has-error has-feedback': createEdit.title.$invalid && createEdit.title.$touched
         || createEdit.title.$invalid && createEdit.$submitted || magazineModalCtrl.exists == true,
         'has-success has-feedback': createEdit.title.$valid || createEdit.title.$valid
         && createEdit.$submitted || magazineModalCtrl.exists == false}">
                <label for="title">Title *</label>
                <input type="text"
                       name="title"
                       class="form-control"
                       placeholder="Enter Title"
                       ng-model="magazineModalCtrl.periodicDetail.title"
                       ng-blur="magazineModalCtrl.checkExistingPeriodicDetails(magazineModalCtrl.periodicDetail.title)"
                       ng-change="magazineModalCtrl.trackChanges()"
                       required />

                <span class="glyphicon form-control-feedback"
                      ng-class="{'glyphicon-ok': createEdit.title.$valid || createEdit.title.$valid && createEdit.$submitted || magazineModalCtrl.exists == false,
                          'glyphicon-remove': createEdit.title.$invalid && createEdit.title.$touched
                           || createEdit.title.$invalid && createEdit.$submitted || magazineModalCtrl.exists == true}">
                </span>

                <div ng-show="createEdit.title.$invalid && createEdit.title.$touched || createEdit.$submitted || magazineModalCtrl.exists == true">
                    <span ng-show="createEdit.title.$error.required" class="text-danger small">Please, provide title.</span>
                    <span ng-show="magazineModalCtrl.exists == true" class="text-danger small">This title already exists.</span>
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error has-feedback': createEdit.periodicity.$invalid && createEdit.periodicity.$touched
         || createEdit.periodicity.$invalid && createEdit.$submitted,
         'has-success has-feedback': createEdit.periodicity.$valid || createEdit.periodicity.$valid
         && createEdit.$submitted}">
                <label for="periodicity">Periodicity *</label>
                <select class="form-control" name="periodicity"
                        ng-model="magazineModalCtrl.periodicDetail.periodicity"
                        ng-options="periodicity as periodicity for periodicity in  magazineModalCtrl.periodicity"
                        ng-change="magazineModalCtrl.trackChanges()"
                        required>
                    <option value="" disabled>Select Periodicity</option>
                </select>


                <div ng-show="createEdit.periodicity.$invalid && createEdit.periodicity.$touched || createEdit.$submitted">
                    <span ng-show="createEdit.periodicity.$error.required" class="text-danger small">Please, select periodicity.</span>
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error has-feedback': createEdit.publisher.$invalid && createEdit.publisher.$touched
         || createEdit.publisher.$invalid && createEdit.$submitted,
         'has-success has-feedback': createEdit.publisher.$valid || createEdit.publisher.$valid
         && createEdit.$submitted}">
                <label for="publisher">Publisher *</label>
                <select class="form-control" name="publisher"
                        ng-model="magazineModalCtrl.periodicDetail.publisher"
                        ng-options="publisher.title as publisher.title for publisher in  magazineModalCtrl.publishers"
                        ng-change="magazineModalCtrl.trackChanges()"
                        required>
                    <option value="" disabled>Select Publisher</option>
                </select>
                <div ng-show="createEdit.publisher.$invalid && createEdit.publisher.$touched || createEdit.$submitted">
                    <span ng-show="createEdit.publisher.$error.required" class="text-danger small">Please, select publisher.</span>
                </div>
            </div>

            <div class="form-group">
                <label for="course">Courses</label>
                <select class="form-control" name="course"
                        ng-model="magazineModalCtrl.periodicDetail.course"
                        ng-options="course.name as course.name for course in  magazineModalCtrl.courses"
                        ng-change="magazineModalCtrl.trackChanges()">
                    <option value="">Select Courses</option>
                </select>
            </div>


            <div class="form-group" ng-class="{'has-error has-feedback': createEdit.type.$invalid && createEdit.type.$touched
                     || createEdit.type.$invalid && createEdit.$submitted,
                     'has-success has-feedback': createEdit.type.$valid || createEdit.type.$valid
                     && createEdit.$submitted}">
                <label for="type">Type *</label>
                <select class="form-control" name="type"
                        ng-model="magazineModalCtrl.periodicDetail.type"
                        ng-options="type as type for type in  magazineModalCtrl.types"
                        ng-change="magazineModalCtrl.trackChanges()"
                        required>
                    <option value="" disabled>Select Type</option>
                </select>
                <div ng-show="createEdit.type.$invalid && createEdit.type.$touched || createEdit.$submitted">
                    <span ng-show="createEdit.type.$error.required" class="text-danger small">Please, select type.</span>
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error has-feedback': createEdit.subscription.$invalid && createEdit.subscription.$touched
         || createEdit.subscription.$invalid && createEdit.$submitted,
         'has-success has-feedback': createEdit.subscription.$valid || createEdit.subscription.$valid
         && createEdit.$submitted}">
                <label for="subscription">Subscription *</label>
                <input type="text"
                       name="subscription"
                       class="form-control"
                       placeholder="Enter Subscription"
                       ng-model="magazineModalCtrl.periodicDetail.subscription"
                       ng-change="magazineModalCtrl.trackChanges()"
                       required />

                <span class="glyphicon form-control-feedback"
                      ng-class="{'glyphicon-ok': createEdit.subscription.$valid || createEdit.subscription.$valid && createEdit.$submitted,
                          'glyphicon-remove': createEdit.subscription.$invalid && createEdit.subscription.$touched
                           || createEdit.subscription.$invalid && createEdit.$submitted}">
                </span>

                <div ng-show="createEdit.subscription.$invalid && createEdit.subscription.$touched || createEdit.$submitted">
                    <span ng-show="createEdit.subscription.$error.required" class="text-danger small">Please, provide subscription.</span>
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error has-feedback': createEdit.subscriptionDate.$invalid && createEdit.subscriptionDate.$touched
         || createEdit.subscriptionDate.$invalid && createEdit.$submitted,
         'has-success has-feedback': createEdit.subscriptionDate.$valid || createEdit.subscriptionDate.$valid
         && createEdit.$submitted}">
                <label for="subscriptionDate">Subscription Date *</label>
                <div class="input-group">
                    <input type="text"
                           name="subscriptionDate"
                           class="form-control"
                           placeholder="Enter Subscription Date"
                           ng-model="magazineModalCtrl.periodicDetail.subscriptionDate"
                           uib-datepicker-popup="EEE MMM, dd yyyy"
                           datepicker-options="magazineModalCtrl.datePickerOptions"
                           close-text="Close"
                           is-open="magazineModalCtrl.subscriptionDatePicker.opened"
                           ng-change="magazineModalCtrl.trackChanges()"
                           required />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="magazineModalCtrl.subscriptionDatePickers()"><i class="fa fa-calendar"></i></button>
                    </span>
                </div>
                <div ng-show="createEdit.subscriptionDate.$invalid && createEdit.subscriptionDate.$touched || createEdit.$submitted">
                    <span ng-show="createEdit.subscriptionDate.$error.required" class="text-danger small">Please, provide subscription date.</span>
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error has-feedback': createEdit.subscriptionDuration.$invalid && createEdit.subscriptionDuration.$touched
                     || createEdit.subscriptionDuration.$invalid && createEdit.$submitted,
                     'has-success has-feedback': createEdit.subscriptionDuration.$valid || createEdit.subscriptionDuration.$valid
                     && createEdit.$submitted}">
                <lable for="subscriptionDuration">Subscription Duration *</lable>
                <input type="text"
                       name="subscriptionDuration"
                       class="form-control "
                       placeholder="Enter Subscription Duration For e.g 4 Months"
                       ng-model="magazineModalCtrl.periodicDetail.subscriptionDuration"
                       ng-change="magazineModalCtrl.trackChanges()"
                       required />
                <span class="glyphicon form-control-feedback"
                      ng-class="{'glyphicon-ok': createEdit.subscriptionDuration.$valid || createEdit.subscriptionDuration.$valid && createEdit.$submitted,
                          'glyphicon-remove': createEdit.subscriptionDuration.$invalid && createEdit.subscriptionDuration.$touched
                           || createEdit.subscriptionDuration.$invalid && createEdit.$submitted}">
                </span>

                <div ng-show="createEdit.subscriptionDuration.$invalid && createEdit.subscriptionDuration.$touched || createEdit.$submitted">
                    <span ng-show="createEdit.subscriptionDuration.$error.required" class="text-danger small">Please, provide subscription amount (per annum).</span>
                </div>
            </div>



            <div class="form-group" ng-class="{'has-error has-feedback': createEdit.subscriptionAmount.$invalid && createEdit.subscriptionAmount.$touched
         || createEdit.subscriptionAmount.$invalid && createEdit.$submitted,
         'has-success has-feedback': createEdit.subscriptionAmount.$valid || createEdit.subscriptionAmount.$valid
         && createEdit.$submitted}">
                <label for="subscriptionAmount">Subscription Amount (Per Annum) *</label>
                <input type="text"
                       name="subscriptionAmount"
                       class="form-control"
                       placeholder="Enter Subscription Amount (Per Annum)"
                       ng-model="magazineModalCtrl.periodicDetail.subscriptionAmount"
                       ng-change="magazineModalCtrl.trackChanges()"
                       required />

                <span class="glyphicon form-control-feedback"
                      ng-class="{'glyphicon-ok': createEdit.subscriptionAmount.$valid || createEdit.subscriptionAmount.$valid && createEdit.$submitted,
                          'glyphicon-remove': createEdit.subscriptionAmount.$invalid && createEdit.subscriptionAmount.$touched
                           || createEdit.subscriptionAmount.$invalid && createEdit.$submitted}">
                </span>

                <div ng-show="createEdit.subscriptionAmount.$invalid && createEdit.subscriptionAmount.$touched || createEdit.$submitted">
                    <span ng-show="createEdit.subscriptionAmount.$error.required" class="text-danger small">Please, provide subscription amount (per annum).</span>
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error has-feedback': createEdit.from.$invalid && createEdit.from.$touched
         || createEdit.from.$invalid && createEdit.$submitted,
         'has-success has-feedback': createEdit.from.$valid || createEdit.from.$valid
         && createEdit.$submitted}">
                <label for="from">Subscription From *</label>
                <div class="input-group">
                    <input type="text"
                           name="from"
                           class="form-control"
                           placeholder="Enter Subscription From"
                           ng-model="magazineModalCtrl.periodicDetail.from"
                           uib-datepicker-popup="MMM, yyyy"
                           datepicker-options="magazineModalCtrl.monthPickerOptions"
                           close-text="Close"
                           is-open="magazineModalCtrl.fromMonthPicker.opened"
                           ng-change="magazineModalCtrl.trackChanges()"
                           required />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="magazineModalCtrl.fromMonthPickers()"><i class="fa fa-calendar"></i></button>
                    </span>
                </div>
                <div ng-show="createEdit.from.$invalid && createEdit.from.$touched || createEdit.$submitted">
                    <span ng-show="createEdit.from.$error.required" class="text-danger small">Please, provide subscription from.</span>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error has-feedback': createEdit.to.$invalid && createEdit.to.$touched
         || createEdit.to.$invalid && createEdit.$submitted,
         'has-success has-feedback': createEdit.to.$valid || createEdit.to.$valid
         && createEdit.$submitted}">
                <label for="to">Subscription To *</label>
                <div class="input-group">
                    <input type="text"
                           name="to"
                           class="form-control"
                           placeholder="Enter Subscription To"
                           ng-model="magazineModalCtrl.periodicDetail.to"
                           uib-datepicker-popup="MMM, yyyy"
                           datepicker-options="magazineModalCtrl.futureMonthPickerOptions"
                           close-text="Close"
                           is-open="magazineModalCtrl.toMonthPicker.opened"
                           ng-change="magazineModalCtrl.trackChanges()"
                           required />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="magazineModalCtrl.toMonthPickers()"><i class="fa fa-calendar"></i></button>
                    </span>
                </div>

                <div ng-show="createEdit.to.$invalid && createEdit.to.$touched || createEdit.$submitted">
                    <span ng-show="createEdit.to.$error.required" class="text-danger small">Please, provide subscription to.</span>
                </div>

            </div>
            <div class="form-group" ng-class="{'has-error has-feedback': createEdit.volume.$invalid && createEdit.volume.$touched
         || createEdit.volume.$invalid && createEdit.$submitted,
         'has-success has-feedback': createEdit.volume.$valid || createEdit.volume.$valid
         && createEdit.$submitted}">
                <label for="volume">Volume *</label>
                <input type="text"
                       name="volume"
                       class="form-control"
                       placeholder="Enter Volume"
                       ng-pattern="/^[0-9]/"
                       ng-maxlength="3"
                       ng-model="magazineModalCtrl.periodicDetail.volume"
                       ng-change="magazineModalCtrl.trackChanges()"
                       required />

                <span class="glyphicon form-control-feedback"
                      ng-class="{'glyphicon-ok': createEdit.volume.$valid || createEdit.volume.$valid && createEdit.$submitted,
                          'glyphicon-remove': createEdit.volume.$invalid && createEdit.volume.$touched
                           || createEdit.volume.$invalid && createEdit.$submitted}">
                </span>

                <div ng-show="createEdit.volume.$invalid && createEdit.volume.$touched || createEdit.$submitted">
                    <div ng-show="createEdit.volume.$error.required" class="text-danger small">Please, provide volume.</div>
                    <div ng-show="createEdit.volume.$error.pattern" class="text-danger small">This field can contain numbers only.</div>
                    <div ng-show="createEdit.volume.$error.maxlength" class="text-danger small">This field can contain 4 characters only.</div>
                </div>

            </div>
            <div class="form-group" ng-class="{'has-error has-feedback': createEdit.source.$invalid && createEdit.source.$touched
         || createEdit.source.$invalid && createEdit.$submitted,
         'has-success has-feedback': createEdit.source.$valid || createEdit.source.$valid
         && createEdit.$submitted}">
                <label for="source">Source *</label>
                <input type="text"
                       name="source"
                       class="form-control"
                       placeholder="Enter Source"
                       ng-model="magazineModalCtrl.periodicDetail.source"
                       ng-change="magazineModalCtrl.trackChanges()"
                       required />
                <span class="glyphicon form-control-feedback"
                      ng-class="{'glyphicon-ok': createEdit.source.$valid || createEdit.source.$valid && createEdit.$submitted,
                          'glyphicon-remove': createEdit.source.$invalid && createEdit.source.$touched
                           || createEdit.source.$invalid && createEdit.$submitted}">
                </span>
                <div ng-show="createEdit.source.$invalid && createEdit.source.$touched || createEdit.$submitted">
                    <span ng-show="createEdit.source.$error.required" class="text-danger small">Please, provide source.</span>
                </div>
            </div>

            <div class="form-group">

                <label for="orderNo">Order Number</label>
                <input type="text"
                       name="orderNo"
                       class="form-control"
                       placeholder="Enter Order Number"
                       ng-change="magazineModalCtrl.trackChanges()"
                       ng-model="magazineModalCtrl.periodicDetail.orderNo" />
            </div>

            <div class="form-group">
                <label for="orderDate">Order Date</label>
                <div class="input-group">
                    <input type="text"
                           name="orderDate"
                           class="form-control"
                           placeholder="Enter Order Date"
                           ng-model="magazineModalCtrl.periodicDetail.orderDate"
                           uib-datepicker-popup="EEE MMM, dd yyyy"
                           datepicker-options="magazineModalCtrl.datePickerOptions"
                           close-text="Close"
                           ng-change="magazineModalCtrl.trackChanges()"
                           is-open="magazineModalCtrl.orderDatePicker.opened" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="magazineModalCtrl.orderDatePickers()"><i class="fa fa-calendar"></i></button>
                    </span>
                </div>
            </div>

            <div class="form-group">

                <label for="billNo">Bill Number</label>
                <input type="text"
                       name="billNo"
                       class="form-control"
                       placeholder="Enter Bill Number"
                       ng-change="magazineModalCtrl.trackChanges()"
                       ng-model="magazineModalCtrl.periodicDetail.billNo" />

            </div>

            <div class="form-group">

                <label for="billDate">Bill Date</label>

                <div class="input-group">
                    <input type="text"
                           name="billDate"
                           class="form-control"
                           placeholder="Enter Bill Date"
                           ng-model="magazineModalCtrl.periodicDetail.billDate"
                           uib-datepicker-popup="EEE MMM, dd yyyy"
                           datepicker-options="magazineModalCtrl.datePickerOptions"
                           close-text="Close"
                           ng-change="magazineModalCtrl.trackChanges()"
                           is-open="magazineModalCtrl.billDatePicker.opened" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="magazineModalCtrl.billDatePickers()"><i class="fa fa-calendar"></i></button>
                    </span>
                </div>

            </div>

            <div class="form-group" ng-class="{'has-error has-feedback': createEdit.amount.$invalid && createEdit.amount.$touched
                     || createEdit.amount.$invalid && createEdit.$submitted,
                     'has-success has-feedback': createEdit.amount.$valid && createEdit.amount.$touched || createEdit.amount.$valid
                     && createEdit.$submitted}">

                <label for="amount">Amount</label>
                <input type="text"
                       name="amount"
                       class="form-control"
                       placeholder="Enter Bill Amount"
                       ng-model="magazineModalCtrl.periodicDetail.amount"
                       ng-change="magazineModalCtrl.trackChanges()"
                       ng-pattern="/^[0-9]/"
                       ng-maxlength="5" />

                <span class="glyphicon form-control-feedback"
                      ng-class="{'glyphicon-ok': createEdit.amount.$valid && createEdit.amount.$touched || createEdit.amount.$valid && createEdit.$submitted,
                          'glyphicon-remove': createEdit.amount.$invalid && createEdit.amount.$touched
                           || createEdit.amount.$invalid && createEdit.$submitted}">
                </span>

                <div ng-show="createEdit.amount.$invalid && createEdit.amount.$touched || createEdit.$submitted">
                    <div ng-show="createEdit.amount.$error.pattern" class="text-danger small">This field can contain numbers only.</div>
                    <div ng-show="createEdit.amount.$error.maxlength" class="text-danger small">This field can contain 5 characters only.</div>
                </div>
            </div>


            <div class="form-group" ng-class="{'has-error has-feedback': createEdit.paidBy.$invalid && createEdit.paidBy.$touched
         || createEdit.paidBy.$invalid && createEdit.$submitted,
         'has-success has-feedback': createEdit.paidBy.$valid || createEdit.paidBy.$valid
         && createEdit.$submitted}">

                <label for="paidBy">Paid By *</label>
                <select class="form-control" name="paidBy"
                        ng-model="magazineModalCtrl.periodicDetail.paidBy"
                        ng-options="paidBy as paidBy for paidBy in  magazineModalCtrl.paidBy"
                        ng-change="magazineModalCtrl.isPaidByCheque(magazineModalCtrl.periodicDetail.paidBy); magazineModalCtrl.trackChanges()"
                        required>
                    <option value="" disabled>Select Paid By</option>
                </select>
                <div ng-show="createEdit.paidBy.$invalid && createEdit.paidBy.$touched || createEdit.$submitted">
                    <div ng-show="createEdit.paidBy.$error.required" class="text-danger small">Please, select an option.</div>
                </div>
            </div>

            <div ng-show="magazineModalCtrl.cheque == true">
                <div class="form-group">
                    <label for="chequeNo">Cheque Number</label>
                    <input type="text"
                           name="chequeNo"
                           class="form-control"
                           placeholder="Enter Cheque Number"
                           ng-change="magazineModalCtrl.trackChanges()"
                           ng-model="magazineModalCtrl.periodicDetail.chequeNo" />
                </div>

                <div class="form-group">
                    <label for="chequeDate">Cheque Date</label>
                    <div class="input-group">
                        <input type="text"
                               name="chequeDate"
                               class="form-control"
                               placeholder="Enter Cheque Date"
                               ng-model="magazineModalCtrl.periodicDetail.chequeDate"
                               uib-datepicker-popup="EEE MMM, dd yyyy"
                               datepicker-options="magazineModalCtrl.futureDatePickerOptions"
                               close-text="Close"
                               is-open="magazineModalCtrl.chequeDatePicker.opened"
                               ng-change="magazineModalCtrl.trackChanges()" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="magazineModalCtrl.chequeDatePickers()"><i class="fa fa-calendar"></i></button>
                        </span>
                    </div>

                </div>
            </div>

            <div class="form-group">
                <label for="bundleSentDate">Bundle Sent Date</label>
                <div class="input-group">
                    <input type="text"
                           name="bundleSentDate"
                           class="form-control"
                           placeholder="Enter Bundle Sent Date"
                           ng-model="magazineModalCtrl.periodicDetail.bundleSentDate"
                           uib-datepicker-popup="EEE MMM, dd yyyy"
                           datepicker-options="magazineModalCtrl.futureDatePickerOptions"
                           close-text="Close"
                           is-open="magazineModalCtrl.bundleSentDatePicker.opened"
                           ng-change="magazineModalCtrl.trackChanges()" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="magazineModalCtrl.bundleSentDatePickers()"><i class="fa fa-calendar"></i></button>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label for="bundleDeliveryDate">Bundle Delivery Date</label>
                <div class="input-group">
                    <input type="text"
                           name="bundleDeliveryDate"
                           class="form-control"
                           placeholder="Enter Bundle Delivery Date"
                           ng-model="magazineModalCtrl.periodicDetail.bundleDeliveryDate"
                           uib-datepicker-popup="EEE MMM, dd yyyy"
                           datepicker-options="magazineModalCtrl.futureDatePickerOptions"
                           close-text="Close"
                           is-open="magazineModalCtrl.bundleDeliveryDatePicker.opened"
                           ng-change="magazineModalCtrl.trackChanges()" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="magazineModalCtrl.bundleDeliveryDatePickers()"><i class="fa fa-calendar"></i></button>
                    </span>
                </div>
            </div>

            <input type="submit" ng-disabled="createEdit.$invalid" value="{{magazineModalCtrl.btnText}}" class="btn btn-primary" ng-click="magazineModalCtrl.ok()" />
            <button type="button" class="btn btn-default" ng-click="magazineModalCtrl.cancel()">Close</button>

        </form>
    </div>
</div>