<div ng-init="magazineCtrl.getPublications()">

    <ol class="breadcrumb">
        <li><a href="" ng-href="#!/home">Home</a></li>
        <li><a href="" ng-href="#!/admin/magazine/periodic">Magazines</a></li>
        <li class="active">Publishers</li>
    </ol>

    <div class="page-header">
        <h3>Magazine Publishers</h3>
    </div>

    <table datatable="ng" dt-options="magazineCtrl.dtOptions" dt-column-defs="magazineCtrl.dtColumnDefs" class="table-condensed table-hover">
        <thead>
            <tr>
                <th class="text-center">Publisher Name</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="publication in magazineCtrl.publications">
                <td>{{ publication.name}}</td>
                <td class="text-center">
                    <a href="" ng-click="magazineCtrl.getPublication(publication.id)" class="text-warning"><i class="fa fa-pencil fa-2x" aria-hidden="true"></i></a>&nbsp;&nbsp;
                    <a href="" ng-click="magazineCtrl.deletePublicationModal(publication.id)" class="text-danger"><i class="fa fa-trash fa-2x" aria-hidden="true"></i></a>
                </td>
            </tr>
        </tbody>
    </table>

</div>