<div ng-init="newsPaperModalCtrl.setData()">
    <div class="modal-header">
        <h4 class="modal-title">{{newsPaperModalCtrl.title}}</h4>
    </div>

    <div class="modal-body">
        <form name="createEdit" ng-submit="newsPaperModalCtrl.submitPeriodicDetailsForm()" novalidate>

            <div class="form-group" ng-class="{'has-error has-feedback': createEdit.title.$invalid && createEdit.title.$touched
         || createEdit.title.$invalid && createEdit.$submitted || newsPaperModalCtrl.exists && createEdit.title.$touched,
         'has-success has-feedback': createEdit.title.$valid || createEdit.title.$valid
         && createEdit.$submitted || !newsPaperModalCtrl.exists && createEdit.title.$touched}">
                <label for="title">Title</label>
                <input type="text"
                       name="title"
                       class="form-control"
                       placeholder="Enter Title"
                       ng-model="newsPaperModalCtrl.periodicNewspaper.title"
                       ng-blur="newsPaperModalCtrl.checkExistingPeriodicNewsPaper(newsPaperModalCtrl.periodicNewspaper.title)"
                       ng-change="newsPaperModalCtrl.trackChanges()"
                       required />

                <span class="glyphicon form-control-feedback"
                      ng-class="{'glyphicon-ok': createEdit.title.$valid || createEdit.title.$valid && createEdit.$submitted || !newsPaperModalCtrl.exists && createEdit.title.$touched,
                          'glyphicon-remove': createEdit.title.$invalid && createEdit.title.$touched
                           || createEdit.title.$invalid && createEdit.$submitted || newsPaperModalCtrl.exists && createEdit.title.$touched}">
                </span>

                <div ng-show="createEdit.title.$invalid && createEdit.title.$touched || createEdit.$submitted || newsPaperModalCtrl.exists">
                    <div ng-show="createEdit.title.$error.required" class="text-danger small">Please, provide title.</div>
                    <div ng-show="newsPaperModalCtrl.exists" class="text-danger small">Details already exists.</div>

                </div>
            </div>

            <div class="form-group" ng-class="{'has-error has-feedback': createEdit.publisher.$invalid && createEdit.publisher.$touched
         || createEdit.publisher.$invalid && createEdit.$submitted,
         'has-success has-feedback': createEdit.publisher.$valid || createEdit.publisher.$valid
         && createEdit.$submitted}">
                <label>Publisher</label>
                <select class="form-control" name="publisher"
                        ng-model="newsPaperModalCtrl.periodicNewspaper.publisher"
                        ng-options="publisher.title as publisher.title for publisher in  newsPaperModalCtrl.publishers"
                        ng-change="newsPaperModalCtrl.trackChanges()"
                        required>
                    <option value="" disabled>Select Publisher</option>
                </select>
                <div ng-show="createEdit.publisher.$invalid && createEdit.publisher.$touched || createEdit.$submitted">
                    <span ng-show="createEdit.publisher.$error.required" class="text-danger small">Please, select publisher.</span>
                </div>

            </div>

            <div class="form-group">
                <label for="remark">Remake</label>
                <input type="text"
                       name="remark"
                       class="form-control"
                       placeholder="Enter Remark"
                       ng-model="newsPaperModalCtrl.periodicNewspaper.remark"
                       ng-change="newsPaperModalCtrl.trackChanges()" />
            </div>

            <input type="submit" ng-disabled="createEdit.$invalid || newsPaperModalCtrl.exists || !newsPaperModalCtrl.change" value="{{newsPaperModalCtrl.btnText}}" class="btn btn-primary" ng-click="newsPaperModalCtrl.ok()" />
            <button type="button" class="btn btn-default" ng-click="newsPaperModalCtrl.cancel()">Close</button>

        </form>
    </div>
</div>