
<div class="modal-header">
    <h4 class="modal-title">{{newsPaperModalCtrl.title}}</h4>
</div>

<div class="modal-body">
    <form name="createEdit" ng-submit="newsPaperModalCtrl.submitPublisherForm()" novalidate>
        <div class="form-group" ng-class="{'has-error has-feedback': createEdit.title.$invalid && createEdit.title.$touched
         || createEdit.title.$invalid && createEdit.$submitted || newsPaperModalCtrl.exists && createEdit.title.$touched,
         'has-success has-feedback': createEdit.title.$valid || createEdit.title.$valid
         && createEdit.$submitted || !newsPaperModalCtrl.exists && createEdit.title.$touched}">
            <label for="title">Title</label>
            <input type="text"
                   name="title"
                   class="form-control"
                   placeholder="Enter Title"
                   ng-model="newsPaperModalCtrl.publisher.title"
                   ng-blur="newsPaperModalCtrl.checkExistingPublisher(newsPaperModalCtrl.publisher.title) || newsPaperModalCtrl.trackChanges()"
                   required />

            <span class="glyphicon form-control-feedback"
                  ng-class="{'glyphicon-ok': createEdit.title.$valid || createEdit.title.$valid && createEdit.$submitted || !newsPaperModalCtrl.exists && createEdit.title.$touched,
                          'glyphicon-remove': createEdit.title.$invalid && createEdit.title.$touched
                           || createEdit.title.$invalid && createEdit.$submitted || newsPaperModalCtrl.exists && createEdit.title.$touched}">
            </span>

            <div ng-show="createEdit.title.$invalid && createEdit.title.$touched || createEdit.$submitted || newsPaperModalCtrl.exists">
                <div ng-show="createEdit.title.$error.required" class="text-danger small">Please, provide title.</div>
                <div ng-show="newsPaperModalCtrl.exists" class="text-danger small">Publication already exists.</div>
            </div>
        </div>
        <input type="submit" ng-disabled="createEdit.$invalid || !newsPaperModalCtrl.change || newsPaperModalCtrl.exists" value="{{newsPaperModalCtrl.btnText}}" class="btn btn-primary" ng-click="newsPaperModalCtrl.ok()" />
        <button type="button" class="btn btn-default" ng-click="newsPaperModalCtrl.cancel()">Close</button>

    </form>
</div>