<!-- ADMIN Section Starts Here -->
<div ng-show="user.role == 'ADMIN' || user.role == 'LIBRARIAN'">

    <!--<div>
        <div class="alert alert-info">
            <h5 class="text-center"><a href="" class="alert-link" ng-click="authCtrl.sendNotifications()">Click Here</a> to Send Notifications To the Students.</h5>
        </div>
    </div>-->
    <!-- Member Panel Starts Here -->
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Members Panel</h3>
        </div>
        <!-- Panel-Body starts here -->
        <div class="panel-body">

            <!-- Student panel starts here -->
            <div class="panel panel-primary col-md-2">
                <div class="panel-body">
                    <a href="" ng-href="#!/admin/students">
                        <div class="text-center">
                            <i class="fa fa-address-card fa-7x text-center" aria-hidden="true"></i>
                        </div>
                        <div class="text-center">Students</div>
                    </a>
                </div>
            </div>
            <!-- Student panel Ends here -->
            <!-- Librarians panel starts here -->
            <div class="panel panel-primary col-md-2 margin-4x">
                <div class="panel-body">
                    <a href="" ng-href="#!/admin/librarians">
                        <div class="text-center">
                            <i class="fa fa-user-circle-o fa-7x text-center" aria-hidden="true"></i>
                        </div>
                        <div class="text-center">
                            Librarians
                        </div>
                    </a>
                </div>
            </div>
            <!-- Librarian panel Ends here -->
            <!-- Faculty panel starts here -->
            <div class="panel panel-primary col-md-2 margin-4x">
                <div class="panel-body">
                    <a href="" ng-href="#!/admin/faculties">
                        <div class="text-center">
                            <i class="fa fa-user-circle fa-7x text-center" aria-hidden="true"></i>
                        </div>
                        <div class="text-center">
                            Faculties
                        </div>
                    </a>
                </div>
            </div>
            <!-- Faculty panel Ends here -->
        </div>
        <!-- Panel-Body ends here -->
    </div>
    <!-- Member panel ends here -->
    <!-- Book panel starts here -->
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Books Panel</h3>
        </div>
        <!-- panel-body starts here -->
        <div class="panel-body">
            <!-- Publications panel starts here -->
            <div class="panel panel-primary col-md-2">
                <div class="panel-body">
                    <a href="" ng-href="#!/admin/publications">
                        <div class="text-center">
                            <i class="fa fa-pencil-square-o fa-7x text-center" aria-hidden="true"></i>
                        </div>
                        <div class="text-center">Publications</div>
                    </a>
                </div>
            </div>
            <!-- Publications panel ends here -->
            <!-- Courses panel starts here -->
            <div class="panel panel-primary col-md-2 margin-4x">
                <div class="panel-body">
                    <a href="" ng-href="#!/admin/courses">
                        <div class="text-center">
                            <i class="fa fa-graduation-cap fa-7x text-center" aria-hidden="true"></i>
                        </div>
                        <div class="text-center">
                            Courses
                        </div>
                    </a>
                </div>
            </div>
            <!-- Courses panel ends here -->
            <!-- Subjects panel starts here -->
            <div class="panel panel-primary col-md-2 margin-4x">
                <div class="panel-body">
                    <a href="" ng-href="#!/admin/subjects">
                        <div class="text-center">
                            <i class="fa fa-stack-overflow fa-7x text-center" aria-hidden="true"></i>
                        </div>
                        <div class="text-center">
                            Subjects
                        </div>
                    </a>
                </div>
            </div>
            <!-- Subjects panel ends here -->
            <!-- Book panel starts here -->
            <div class="panel panel-primary col-md-2 margin-4x">
                <div class="panel-body">
                    <a href="" ng-href="#!/user/books">
                        <div class="text-center">
                            <i class="fa fa-book fa-7x text-center" aria-hidden="true"></i>
                        </div>
                        <div class="text-center">
                            Books
                        </div>
                    </a>
                </div>
            </div>
            <!-- Book panel ends here -->
            <!-- Issued book panel starts here -->
            <div class="panel panel-primary col-md-2 margin-4x">
                <div class="panel-body">
                    <a href="" ng-href="#!/user/issuedBooks">
                        <div class="text-center">
                            <i class="fa fa-address-book-o fa-7x text-center" aria-hidden="true"></i>
                        </div>
                        <div class="text-center">Issued Books</div>
                    </a>
                </div>
            </div>
            <!-- Issued book panel ends here -->
            <!-- Returned book panel starts here -->
            <div class="panel panel-primary col-md-2">
                <div class="panel-body">
                    <a href="" ng-href="#!/user/returnedBooks">
                        <div class="text-center">
                            <i class="fa fa-reply fa-7x text-center" aria-hidden="true"></i>
                        </div>
                        <div class="text-center">Returned Books</div>
                    </a>
                </div>
            </div>
            <!-- Returned book panel ends here -->
            <!-- Lost Or Replace Book panel starts here -->
            <div class="panel panel-primary col-md-2 margin-4x">
                <div class="panel-body">
                    <a href="" ng-href="#!/admin/lostOrReplace">
                        <div class="text-center">
                            <i class="fa fa-times fa-7x text-center" aria-hidden="true"></i>
                        </div>
                        <div class="text-center">Lost/Replace</div>
                    </a>
                </div>
            </div>
            <!-- Lost Or Replace Book panel ends here -->

        </div>
        <!-- panel-body ends here -->
    </div>
    <!-- Book panel ends here -->
    <!-- Magazine panel starts here -->
    <div class="panel panel-primary" ng-show="user.role == 'ADMIN' || user.role == 'LIBRARIAN'">
        <div class="panel-heading">
            <h3 class="panel-title">Magazines Panel</h3>
        </div>
        <!-- panel-body starts here -->
        <div class="panel-body">
            <!-- Publications panel starts here -->
            <div class="panel panel-primary col-md-2">
                <div class="panel-body">
                    <a href="" ng-href="#!/admin/magazine/publications">
                        <div class="text-center">
                            <i class="fa fa-pencil-square-o fa-7x text-center" aria-hidden="true"></i>
                        </div>
                        <div class="text-center">Publication Magazines</div>
                    </a>
                </div>
            </div>
            <!-- Publications panel ends here -->
            <!-- Book panel starts here -->
            <div class="panel panel-primary col-md-2 margin-4x">
                <div class="panel-body">
                    <a href="" ng-href="#!/admin/magazine/periodic">
                        <div class="text-center">
                            <i class="fa fa-book fa-7x text-center" aria-hidden="true"></i>
                        </div>
                        <div class="text-center">
                            Periodic Magazine
                        </div>
                    </a>
                </div>
            </div>
            <!-- Book panel ends here -->
            <!-- Issued book panel starts here -->
            <div class="panel panel-primary col-md-2 margin-4x">
                <div class="panel-body">
                    <a href="" ng-href="#!/user/magazine/issued">
                        <div class="text-center">
                            <i class="fa fa-address-book-o fa-7x text-center" aria-hidden="true"></i>
                        </div>
                        <div class="text-center">Issued Magazines</div>
                    </a>
                </div>
            </div>
            <!-- Issued book panel ends here -->
            <!-- Returned book panel starts here -->
            <div class="panel panel-primary col-md-2 margin-4x">
                <div class="panel-body">
                    <a href="" ng-href="#!/user/magazine/returned">
                        <div class="text-center">
                            <i class="fa fa-reply fa-7x text-center" aria-hidden="true"></i>
                        </div>
                        <div class="text-center">Returned Magazines</div>
                    </a>
                </div>
            </div>
            <!-- Returned book panel ends here -->
            <!-- Lost Or Replace Book panel starts here -->
            <div class="panel panel-primary col-md-2 margin-4x">
                <div class="panel-body">
                    <a href="" ng-href="#!/admin/magazine/lost">
                        <div class="text-center">
                            <i class="fa fa-times fa-7x text-center" aria-hidden="true"></i>
                        </div>
                        <div class="text-center">Lost/Replace Magazine</div>
                    </a>
                </div>
            </div>
            <!-- Lost Or Replace Book panel ends here -->
        </div>
        <!-- Book panel ends here -->
    </div>
    <!-- panel-body ends here -->
</div>
<!-- Magazine panel ends here -->
<!-- Newspaper panel starts here -->
<div class="panel panel-primary" ng-show="user.role == 'ADMIN' || user.role == 'LIBRARIAN'">
    <div class="panel-heading">
        <h3 class="panel-title">Newspaper Panel</h3>
    </div>
    <!-- panel-body starts here -->
    <div class="panel-body">
        <!-- newspaper Publications panel starts here -->
        <div class="panel panel-primary col-md-2">
            <div class="panel-body">
                <a href="" ng-href="#!/admin/newspaper/publication">
                    <div class="text-center">
                        <i class="fa fa-pencil-square-o fa-7x text-center" aria-hidden="true"></i>
                    </div>
                    <div class="text-center">Newspaper Publications</div>
                </a>
            </div>
        </div>
        <!-- newspaper Publications panel ends here -->
        <!-- periodic newspaper panel starts here -->
        <div class="panel panel-primary col-md-2 margin-4x">
            <div class="panel-body">
                <a href="" ng-href="#!/admin/newspaper/periodic">
                    <div class="text-center">
                        <i class="fa fa-newspaper-o fa-7x text-center" aria-hidden="true"></i>
                    </div>
                    <div class="text-center">
                        Periodic Newspapers
                    </div>
                </a>
            </div>
        </div>
        <!-- periodic newspaper panel ends here -->
    </div>
    <!-- panel-body ends here -->
</div>
<!-- Newspaper panel ends here -->
<!-- Action panel starts here -->
<div class="panel panel-primary" ng-show="user.role == 'ADMIN' || user.role == 'LIBRARIAN'">
    <div class="panel-heading">
        <h3 class="panel-title">Action Panel</h3>
    </div>
    <!-- Panel body starts here -->
    <div class="panel-body">

        <!-- Setting panel starts here -->
        <div class="panel panel-primary col-md-2">
            <div class="panel-body">
                <a href="" ng-href="#!/user/settings">
                    <div class="text-center">
                        <i class="fa fa-wrench fa-7x text-center" aria-hidden="true"></i>
                    </div>
                    <div class="text-center">Settings</div>
                </a>
            </div>
        </div>
        <!-- Setting panel ends here -->
        <!-- Statistics panel starts here -->
        <div class="panel panel-primary col-md-2 margin-4x">
            <div class="panel-body">
                <a href="" ng-href="#!/admin/statistics">
                    <div class="text-center">
                        <i class="fa fa-line-chart fa-7x text-center" aria-hidden="true"></i>
                    </div>
                    <div class="text-center">Statistics</div>
                </a>
            </div>
        </div>
        <!-- Statistics panel ends here -->
        <!-- Order Book panel starts here -->
        <div class="panel panel-primary col-md-2 margin-4x">
            <div class="panel-body">
                <a href="" ng-href="#!/user/requests">
                    <div class="text-center">
                        <i class="fa fa-cart-plus fa-7x text-center" aria-hidden="true"></i>
                    </div>
                    <div class="text-center">Requested Books</div>
                </a>
            </div>
        </div>
        <!-- Order Book panel ends here -->
        <!-- configuration panel starts here -->
        <div class="panel panel-primary col-md-2 margin-4x" ng-show="user.role == 'ADMIN'">
            <div class="panel-body">
                <a href="" ng-href="#!/admin/configuration">
                    <div class="text-center">
                        <i class="fa fa-cogs fa-7x text-center" aria-hidden="true"></i>
                    </div>
                    <div class="text-center">Configuration</div>
                </a>
            </div>
        </div>
        <!-- configuration panel ends here -->
    </div>
    <!-- Panel body ends here -->
</div>
<!-- Action panel ends here -->
<!-- ADMIN section ends here -->
<!-- STUDENT section starts here -->
<div ng-show="user.role == 'STUDENT' || user.role == 'FACULTY'">
    <div ng-init="authCtrl.checkReturn()">
        <div class="alert alert-danger" ng-show="authCtrl.submitTom">
            <p align="center">You need to submit book(s) tomorrow, Click Here for more info.</p>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">User Panel</h3>
        </div>
        <!-- Panel body starts here -->
        <div class="panel-body">
            <!-- Book panel starts here -->
            <div class="panel panel-primary col-md-2">
                <div class="panel-body">
                    <a href="" ng-href="#!/user/books">
                        <div class="text-center">
                            <i class="fa fa-book fa-7x text-center" aria-hidden="true"></i>
                        </div>
                        <div class="text-center">Books</div>
                    </a>
                </div>
            </div>
            <!-- Book panel ends here -->
            <!-- Issued book panel starts here -->
            <div class="panel panel-primary col-md-2 margin-4x">
                <div class="panel-body">
                    <a href="" ng-href="#!/user/issuedBooks">
                        <div class="text-center">
                            <i class="fa fa-address-book-o fa-7x text-center" aria-hidden="true"></i>
                        </div>
                        <div class="text-center">Issued Books</div>
                    </a>
                </div>
            </div>
            <!-- Issued book panel ends here -->
            <!-- Returned book panel starts here -->
            <div class="panel panel-primary col-md-2 margin-4x">
                <div class="panel-body">
                    <a href="" ng-href="#!/user/returnedBooks">
                        <div class="text-center">
                            <i class="fa fa-reply fa-7x text-center" aria-hidden="true"></i>
                        </div>
                        <div class="text-center">Returned Books</div>
                    </a>
                </div>
            </div>
            <!-- Returned book panel ends here -->
            <!-- Order Book panel starts here -->
            <div class="panel panel-primary col-md-2 margin-4x">
                <div class="panel-body">
                    <a href="" ng-href="#!/user/requests">
                        <div class="text-center">
                            <i class="fa fa-cart-plus fa-7x text-center" aria-hidden="true"></i>
                        </div>
                        <div class="text-center">Requested Books</div>
                    </a>
                </div>
            </div>
            <!-- Order Book panel ends here -->
            <!-- Setting panel starts here -->
            <div class="panel panel-primary col-md-2 margin-4x">
                <div class="panel-body">
                    <a href="" ng-href="#!/user/settings">
                        <div class="text-center">
                            <i class="fa fa-wrench fa-7x text-center" aria-hidden="true"></i>
                        </div>
                        <div class="text-center">Settings</div>
                    </a>
                </div>
            </div>
            <!-- Setting panel ends here -->
        </div>
        <!-- Panel body ends here -->
    </div>

    <div class="panel panel-primary" ng-show="user.role == 'STUDENT' || user.role == 'FACULTY'">
        <div class="panel-heading">
            <h3 class="panel-title">Magazines Panel</h3>
        </div>
        <!-- panel-body starts here -->
        <div class="panel-body">
            <!-- Issued book panel starts here -->
            <div class="panel panel-primary col-md-2">
                <div class="panel-body">
                    <a href="" ng-href="#!/user/magazine/issued">
                        <div class="text-center">
                            <i class="fa fa-address-book-o fa-7x text-center" aria-hidden="true"></i>
                        </div>
                        <div class="text-center">Issued Magazines</div>
                    </a>
                </div>
            </div>
            <!-- Issued book panel ends here -->
            <!-- Returned book panel starts here -->
            <div class="panel panel-primary col-md-2 margin-4x">
                <div class="panel-body">
                    <a href="" ng-href="#!/user/magazine/returned">
                        <div class="text-center">
                            <i class="fa fa-reply fa-7x text-center" aria-hidden="true"></i>
                        </div>
                        <div class="text-center">Returned Magazines</div>
                    </a>
                </div>
            </div>
            <!-- Returned book panel ends here -->
        </div>
    </div>
</div>
<!-- STUDENT section ends here -->