<div ng-init="userCtrl.getData()">

    <div class="col-md-offset-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Details</h3>
            </div>
            <div class="panel-body" ng-show="user.role == 'STUDENT'">
                <form name="createEdit" ng-submit="userCtrl.submitForm()" role="form" novalidate>
                    <div class="form-group" ng-class="{'has-error has-feedback': createEdit.rollNo.$invalid && createEdit.rollNo.$touched
                             || createEdit.rollNo.$invalid && createEdit.$submitted || userCtrl.exists,
                             'has-success has-feedback': createEdit.rollNo.$valid || createEdit.rollNo.$valid
                             && createEdit.$submitted || !userCtrl.exists}">

                        <label for="rollNo">Roll No</label>
                        <input type="text" class="form-control"
                               name="rollNo"
                               placeholder="Enter Roll Number"
                               ng-model="userCtrl.user.rollNo"
                               ng-disabled="userCtrl.user.modified"
                               ng-pattern="/^[0-9]+$/"
                               ng-maxlength="6"
                               ng-blur="userCtrl.checkByRollNumber(userCtrl.user.rollNo)"
                               ng-change="userCtrl.trackChanges()"
                               autocomplete="off"
                               required />

                        <span class="glyphicon form-control-feedback"
                              ng-class="{'glyphicon-ok': createEdit.rollNo.$valid || createEdit.rollNo.$valid && createEdit.$submitted || !userCtrl.exists,
                          'glyphicon-remove': createEdit.rollNo.$invalid && createEdit.rollNo.$touched
                           || createEdit.rollNo.$invalid && createEdit.$submitted|| userCtrl.exists}">
                        </span>

                        <div ng-show="createEdit.rollNo.$invalid && createEdit.rollNo.$touched || createEdit.$submitted || userCtrl.exists">
                            <div ng-show="createEdit.rollNo.$error.required" class="text-danger small">
                                Please, provide roll number.
                            </div>
                            <div ng-show="createEdit.rollNo.$error.maxlength" class="text-danger small">This field can contain maximum 6 charachters.</div>
                            <div ng-show="createEdit.rollNo.$error.pattern" class="text-danger small">Please, provide valid number.</div>
                            <div ng-show="userCtrl.exists" class="text-danger small">Roll number is in use.</div>
                        </div>
                    </div>


                    <div class="form-group" ng-class="{'has-error has-feedback': createEdit.fullName.$invalid && createEdit.fullName.$touched
                             || createEdit.fullName.$invalid && createEdit.$submitted,
                             'has-success has-feedback': createEdit.fullName.$valid || createEdit.fullName.$valid
                             && createEdit.$submitted}">
                        <label for="fullName">Full Name</label>
                        <input type="text" class="form-control"
                               name="fullName"
                               placeholder="Enter Full Name"
                               ng-model="userCtrl.user.fullName"
                               ng-pattern="/^[a-zA-Z\s]+$/"
                               ng-disabled="userCtrl.user.modified"
                               ng-change="userCtrl.trackChanges()"
                               required />

                        <span class="glyphicon form-control-feedback"
                              ng-class="{'glyphicon-ok': createEdit.fullName.$valid || createEdit.fullName.$valid && createEdit.$submitted,
                          'glyphicon-remove': createEdit.fullName.$invalid && createEdit.fullName.$touched
                           || createEdit.fullName.$invalid && createEdit.$submitted}">
                        </span>

                        <div ng-show="createEdit.fullName.$invalid && createEdit.fullName.$touched || createEdit.$submitted">
                            <span ng-show="createEdit.fullName.$error.required" class="text-danger small">Please, provide full name.</span>
                            <span ng-show="createEdit.fullName.$error.pattern" class="text-danger small">This field cannot contain special charachters.</span>
                        </div>

                    </div>

                    <div class="form-group" ng-class="{'has-error has-feedback': createEdit.course.$invalid && createEdit.course.$touched
                             || createEdit.course.$invalid && createEdit.$submitted,
                             'has-success has-feedback': createEdit.course.$valid || createEdit.course.$valid
                             && createEdit.$submitted}">
                        <label for="course">Course</label>
                        <select class="form-control" name="course"
                                ng-model="userCtrl.user.course"
                                ng-options="course.name as course.name for course in  userCtrl.courses"
                                ng-disabled="userCtrl.user.modified"
                                ng-change="userCtrl.trackChanges()"
                                required>
                            <option value="" disabled>Select Course</option>
                        </select>

                        <div ng-show="createEdit.course.$invalid && createEdit.course.$touched || createEdit.$submitted">
                            <span ng-show="createEdit.course.$error.required" class="text-danger small">Please, select course.</span>
                        </div>

                    </div>
                    <div class="form-group" ng-class="{'has-error has-feedback': createEdit.yearOfAdmission.$invalid && createEdit.yearOfAdmission.$touched
                             || createEdit.yearOfAdmission.$invalid && createEdit.$submitted,
                             'has-success has-feedback': createEdit.yearOfAdmission.$valid || createEdit.yearOfAdmission.$valid
                             && createEdit.$submitted}">

                        <label for="yearOfAdmission">Year Of Admission</label>
                        <select class="form-control" name="yearOfAdmission"
                                ng-model="userCtrl.user.yearOfAdmission"
                                ng-options="year as year for year in  userCtrl.years"
                                ng-disabled="userCtrl.user.modified"
                                ng-change="userCtrl.trackChanges()"
                                required>
                            <option value="" disabled>Select Year</option>
                        </select>

                        <div ng-show="createEdit.yearOfAdmission.$invalid && createEdit.yearOfAdmission.$touched || createEdit.$submitted">
                            <span ng-show="createEdit.yearOfAdmission.$error.required" class="text-danger small">Please, select admission year.</span>
                        </div>

                    </div>

                    <span class="small text-danger" ng-show="createEdit.$valid"><strong>Note: Verify the above details, once submit you can't change it.</strong></span>

                    <input type="submit" value="Save" ng-disabled="userCtrl.user.modified || createEdit.$invalid || userCtrl.exists || !userCtrl.change" class="btn col-md-12 btn-success" />

                </form>
            </div>

            <div class="panel-body" ng-show="user.role == 'FACULTY' || user.role== 'NON-TEACHING'">
                <form name="createEdit" ng-submit="userCtrl.submitForm()" role="form" novalidate>
                    <div class="form-group" ng-class="{'has-error has-feedback': createEdit.rollNo.$invalid && createEdit.rollNo.$touched
                             || createEdit.rollNo.$invalid && createEdit.$submitted || userCtrl.exists,
                             'has-success has-feedback': createEdit.rollNo.$valid || createEdit.rollNo.$valid
                             && createEdit.$submitted || !userCtrl.exists}">

                        <label for="rollNo">Library Enrollment Number</label>
                        <input type="text" class="form-control"
                               name="rollNo"
                               placeholder="Enter Library Enrollment Number"
                               ng-model="userCtrl.user.rollNo"
                               ng-disabled="userCtrl.user.modified"
                               ng-pattern="/^[0-9]+$/"
                               ng-maxlength="6"
                               ng-blur="userCtrl.checkByRollNumber(userCtrl.user.rollNo)"
                               ng-change="userCtrl.trackChanges()"
                               autocomplete="off"
                               required />

                        <span class="glyphicon form-control-feedback"
                              ng-class="{'glyphicon-ok': createEdit.rollNo.$valid || createEdit.rollNo.$valid && createEdit.$submitted || !userCtrl.exists,
                          'glyphicon-remove': createEdit.rollNo.$invalid && createEdit.rollNo.$touched
                           || createEdit.rollNo.$invalid && createEdit.$submitted|| userCtrl.exists}">
                        </span>

                        <div ng-show="createEdit.rollNo.$invalid && createEdit.rollNo.$touched || createEdit.$submitted || userCtrl.exists">
                            <div ng-show="createEdit.rollNo.$error.required" class="text-danger small">
                                Please, provide roll number.
                            </div>
                            <div ng-show="createEdit.rollNo.$error.maxlength" class="text-danger small">This field can contain maximum 6 charachters.</div>
                            <div ng-show="createEdit.rollNo.$error.pattern" class="text-danger small">Please, provide valid number.</div>
                            <div ng-show="userCtrl.exists" class="text-danger small">Roll number is in use.</div>
                        </div>
                    </div>


                    <div class="form-group" ng-class="{'has-error has-feedback': createEdit.fullName.$invalid && createEdit.fullName.$touched
                             || createEdit.fullName.$invalid && createEdit.$submitted,
                             'has-success has-feedback': createEdit.fullName.$valid || createEdit.fullName.$valid
                             && createEdit.$submitted}">
                        <label for="fullName">Full Name</label>
                        <input type="text" class="form-control"
                               name="fullName"
                               placeholder="Enter Full Name"
                               ng-model="userCtrl.user.fullName"
                               ng-pattern="/^[a-zA-Z/\s]+$/"
                               ng-disabled="userCtrl.user.modified"
                               ng-change="userCtrl.trackChanges()"
                               required />

                        <span class="glyphicon form-control-feedback"
                              ng-class="{'glyphicon-ok': createEdit.fullName.$valid || createEdit.fullName.$valid && createEdit.$submitted,
                          'glyphicon-remove': createEdit.fullName.$invalid && createEdit.fullName.$touched
                           || createEdit.fullName.$invalid && createEdit.$submitted}">
                        </span>

                        <div ng-show="createEdit.fullName.$invalid && createEdit.fullName.$touched || createEdit.$submitted">
                            <span ng-show="createEdit.fullName.$error.required" class="text-danger small">Please, provide full name.</span>
                            <span ng-show="createEdit.fullName.$error.pattern" class="text-danger small">This field cannot contain special charachters.</span>
                        </div>

                    </div>

                    <div class="form-group" ng-if="user.role!='NON-TEACHING'" ng-class="{'has-error has-feedback': createEdit.course.$invalid && createEdit.course.$touched
                             || createEdit.course.$invalid && createEdit.$submitted,
                             'has-success has-feedback': createEdit.course.$valid || createEdit.course.$valid
                             && createEdit.$submitted}">
                        <label for="course">Course</label>
                        <select class="form-control" name="course"
                                ng-model="userCtrl.user.course"
                                ng-options="course.name as course.name for course in  userCtrl.courses"
                                ng-disabled="userCtrl.user.modified"
                                ng-change="userCtrl.trackChanges()"
                                required>
                            <option value="" disabled>Select Course</option>
                        </select>

                        <div ng-show="createEdit.course.$invalid && createEdit.course.$touched || createEdit.$submitted">
                            <span ng-show="createEdit.course.$error.required" class="text-danger small">Please, select course.</span>
                        </div>

                    </div>

                    <span class="small text-danger" ng-show="createEdit.$valid"><strong>Note: Verify the above details, once submit you can't change it.</strong></span>

                    <input type="submit" value="Save" ng-disabled="userCtrl.user.modified || createEdit.$invalid || userCtrl.exists || !userCtrl.change" class="btn col-md-12 btn-success" />

                </form>
            </div>


            <div class="panel-body" ng-show="user.role == 'ADMIN' || user.role == 'LIBRARIAN'">
                <form name="createEdit" ng-submit="userCtrl.submitForm()" role="form" novalidate>
                    <div class="form-group" ng-class="{'has-error has-feedback': createEdit.rollNo.$invalid && createEdit.rollNo.$touched
                             || createEdit.rollNo.$invalid && createEdit.$submitted || userCtrl.exists,
                             'has-success has-feedback': createEdit.rollNo.$valid || createEdit.rollNo.$valid
                             && createEdit.$submitted || !userCtrl.exists}">

                        <label for="rollNo">Library Enrollment Number</label>
                        <input type="text" class="form-control"
                               name="rollNo"
                               placeholder="Enter Library Enrollment Number"
                               ng-model="userCtrl.user.rollNo"
                               ng-disabled="userCtrl.user.modified"
                               ng-pattern="/^[0-9]+$/"
                               ng-maxlength="6"
                               ng-blur="userCtrl.checkByRollNumber(userCtrl.user.rollNo)"
                               ng-change="userCtrl.trackChanges()"
                               autocomplete="off"
                               required />

                        <span class="glyphicon form-control-feedback"
                              ng-class="{'glyphicon-ok': createEdit.rollNo.$valid || createEdit.rollNo.$valid && createEdit.$submitted || !userCtrl.exists,
                          'glyphicon-remove': createEdit.rollNo.$invalid && createEdit.rollNo.$touched
                           || createEdit.rollNo.$invalid && createEdit.$submitted|| userCtrl.exists}">
                        </span>

                        <div ng-show="createEdit.rollNo.$invalid && createEdit.rollNo.$touched || createEdit.$submitted || userCtrl.exists">
                            <div ng-show="createEdit.rollNo.$error.required" class="text-danger small">
                                Please, provide roll number.
                            </div>
                            <div ng-show="createEdit.rollNo.$error.maxlength" class="text-danger small">This field can contain maximum 6 charachters.</div>
                            <div ng-show="createEdit.rollNo.$error.pattern" class="text-danger small">Please, provide valid number.</div>
                            <div ng-show="userCtrl.exists" class="text-danger small">Roll number is in use.</div>
                        </div>
                    </div>


                    <div class="form-group" ng-class="{'has-error has-feedback': createEdit.fullName.$invalid && createEdit.fullName.$touched
                             || createEdit.fullName.$invalid && createEdit.$submitted,
                             'has-success has-feedback': createEdit.fullName.$valid || createEdit.fullName.$valid
                             && createEdit.$submitted}">
                        <label for="fullName">Full Name</label>
                        <input type="text" class="form-control"
                               name="fullName"
                               placeholder="Enter Full Name"
                               ng-model="userCtrl.user.fullName"
                               ng-pattern="/^[a-zA-Z\s]+$/"
                               ng-disabled="userCtrl.user.modified"
                               ng-change="userCtrl.trackChanges()"
                               required />

                        <span class="glyphicon form-control-feedback"
                              ng-class="{'glyphicon-ok': createEdit.fullName.$valid || createEdit.fullName.$valid && createEdit.$submitted,
                          'glyphicon-remove': createEdit.fullName.$invalid && createEdit.fullName.$touched
                           || createEdit.fullName.$invalid && createEdit.$submitted}">
                        </span>

                        <div ng-show="createEdit.fullName.$invalid && createEdit.fullName.$touched || createEdit.$submitted">
                            <span ng-show="createEdit.fullName.$error.required" class="text-danger small">Please, provide full name.</span>
                            <span ng-show="createEdit.fullName.$error.pattern" class="text-danger small">This field cannot contain special charachters.</span>
                        </div>

                    </div>

                    <span class="small text-danger" ng-show="createEdit.$valid"><strong>Note: Verify the above details, once submit you can't change it.</strong></span>

                    <input type="submit" value="Save" ng-disabled="userCtrl.user.modified || createEdit.$invalid || userCtrl.exists || !userCtrl.change" class="btn col-md-12 btn-success" />

                </form>
            </div>
        </div>
    </div>
</div>