<div class="modal-header">
    <h4 class="modal-title">{{issueBookModalCtrl.title}}</h4>
</div>

<div class="modal-body">
    Want To Delete <strong>{{issueBookModalCtrl.issueBook.bookTitle}}</strong> ?
    <div class="small text-danger">Note: Many things will get affected.</div>
</div>

<div class="modal-footer">
    <button class="btn btn-default" ng-click="issueBookModalCtrl.cancel()">Close</button>
    <button class="btn btn-danger" ng-click="issueBookModalCtrl.deleteIssueBook()">{{issueBookModalCtrl.btnText}}</button>
</div>
