<ol class="breadcrumb">
    <li><a href="" ng-href="#!/home">Home</a></li>
    <li class="active">Issued Books</li>
</ol>

<div class="page-header">
    <h3>Issued Books</h3>
</div>
<div ng-show="user.role == 'ADMIN' || user.role == 'LIBRARIAN'">
    <div ng-init="issueBookCtrl.getIssuedBooks()">
        <table datatable="ng" dt-options="issueBookCtrl.dtOptions" dt-column-defs="issueBookCtrl.dtColumnDefs" class="table-condensed table-hover">
            <thead>
                <tr>
                    <th class="text-center">Accession Number</th>
                    <th class="text-center">Title</th>
                    <th class="text-center">Issue Date</th>
                    <th class="text-center">Return Date</th>
                    <th class="text-center">Roll No</th>
                    <th class="text-center">Borrower</th>
                    <th class="text-center">Course</th>
                    <th class="text-center">Librarian</th>
                    <th class="text-center">Fine</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="issuedBook in issueBookCtrl.issuedBooks">
                    <td>{{ issuedBook.accessionNumber }}</td>
                    <td>{{ issuedBook.bookTitle }}</td>
                    <td>{{ issuedBook.issuedDate | date: "EEE MMM, dd yyyy"}}</td>
                    <td>{{ issuedBook.returnDate | date: "EEE MMM, dd yyyy"}}</td>
                    <td>{{ issuedBook.rollNo }}</td>
                    <td>{{ issuedBook.fullName }}</td>
                    <td>{{ issuedBook.course }}</td>
                    <td>{{ issuedBook.issuedBy }}</td>
                    <td>{{ issuedBook.fine }}</td>
                    <td class="text-center">
                        <!--   <a href="" title="Edit" ng-click="issueBookCtrl.showEditIssueBookForm(issuedBook.id)" class="text-warning"><i class="fa fa-pencil fa-2x" aria-hidden="true"></i></a>-->
                        <a href="" title="Return" ng-click="issueBookCtrl.confirmReturnBook(issuedBook.id)" class="text-success"><i class="fa fa-reply fa-2x" aria-hidden="true"></i></a>
                        <a href="" title="Lost/Replace" ng-click="issueBookCtrl.confirmReplaceOrLostBook(issuedBook.id)" class="text-danger"><i class="fa fa-times fa-2x" aria-hidden="true"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div ng-show="user.role == 'STUDENT' || user.role == 'FACULTY'">
    <div ng-init="issueBookCtrl.getIssuedDataByRollNumber()">
        <table datatable="ng" dt-options="issueBookCtrl.dtOptions" dt-column-defs="issueBookCtrl.dtColumnDefs" class="table-condensed table-hover">
            <thead>
                <tr>
                    <th class="text-center">Accession Number</th>
                    <th class="text-center">Title</th>
                    <th class="text-center">Issue Date</th>
                    <th class="text-center">Return Date</th>
                    <th class="text-center">Roll No</th>
                    <th class="text-center">Borrower</th>
                    <th class="text-center">Course</th>
                    <th class="text-center">Fine</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="issuedBook in issueBookCtrl.issuedBooks">
                    <td>{{ issuedBook.accessionNumber }}</td>
                    <td>{{ issuedBook.bookTitle }}</td>
                    <td>{{ issuedBook.issuedDate | date: "EEE MMM, dd yyyy"}}</td>
                    <td>{{ issuedBook.returnDate | date: "EEE MMM, dd yyyy"}}</td>
                    <td>{{ issuedBook.rollNo }}</td>
                    <td>{{ issuedBook.fullName }}</td>
                    <td>{{ issuedBook.course }}</td>
                    <td>{{ issuedBook.fine }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>