<div ng-init="subjectCtrl.getSubjects()">
    <ol class="breadcrumb">
        <li><a href="" ng-href="#!/home">Home</a></li>
        <li class="active">Subjects</li>
    </ol>

    <div class="page-header">
        <h3>Subjects</h3>
    </div>

    <table datatable="ng" dt-options="subjectCtrl.dtOptions" dt-column-defs="subjectCtrl.dtColumnDefs" class="table-condensed table-hover">
        <thead>
            <tr>

                <th class="text-center">Subject</th>
                <th class="text-center">Course</th>
                <th class="text-center">Semester</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="subject in subjectCtrl.subjects">

                <td>{{ subject.name }}</td>
                <td>{{ subject.courseName }}</td>
                <td>{{ subject.semester }}</td>
                <td class="text-center">
                    <a href="" ng-click="subjectCtrl.getSubject(subject.id)" class="text-warning"><i class="fa fa-pencil fa-2x" aria-hidden="true"></i></a>&nbsp;&nbsp;
                    <a href="" ng-click="subjectCtrl.deleteSubjectModal(subject.id)" class="text-danger"><i class="fa fa-trash fa-2x" aria-hidden="true"></i></a>
                </td>
            </tr>
        </tbody>
    </table>

</div>