<div ng-init="courseCtrl.getCourses()">
    <ol class="breadcrumb">
        <li><a href="" ng-href="#!/home">Home</a></li>
        <li class="active">Courses</li>
    </ol>

    <div class="page-header">
        <h3>Courses</h3>
    </div>

    <table datatable="ng" dt-options="courseCtrl.dtOptions" dt-column-defs="courseCtrl.dtColumnDefs" class="table-condensed table-hover">
        <thead>
            <tr>
                <th class="text-center">Course Name</th>
                <th class="text-center">No Of Semesters</th>
                <th class="text-center">No Of Students</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="course in courseCtrl.courses">
                <td>{{ course.name }}</td>
                <td>{{ course.noOfSemesters }}</td>
                <td>{{ course.noOfStudents }}</td>
                <td class="text-center">
                    <a href="" ng-click="courseCtrl.getCourse(course.id)" class="text-warning"><i class="fa fa-pencil fa-2x" aria-hidden="true"></i></a>&nbsp;&nbsp;
                    <a href="" ng-click="courseCtrl.deleteCourseModal(course.id)" class="text-danger"><i class="fa fa-trash fa-2x" aria-hidden="true"></i></a>
                </td>
            </tr>
        </tbody>
    </table>

</div>