
body {
    padding-bottom: 70px;
    padding-top: 70px;
}

.panel-margin-top {
    margin-top: 75px;
}

.form-control:focus {
    border: #66afe9 2px solid;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.has-error .form-control:focus {
    border-color: #c9302c;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.has-success .form-control:focus {
    border-color: #318837;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#logo {
    content: url(../images/icon_graduate.png);
    width: 50%;
    position: center;
}

.badge-notify {
    background: red;
    position: relative;
    top: -10px;
    left: -15px;
    font-size: 12px;
}


.navbar-header > a.navbar-brand:hover {
    color: black;
}

.fa-6x {
    font-size: 6em;
}

.fa-7x {
    font-size: 7em;
}

.margin-4x {
    margin-left: 4%;
}

a > .text-center > .fa {
    color: #2F2F2F;
}

    a > .text-center > .fa:hover {
        color: black;
    }

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    position: absolute;
    margin-top: 175px;
    z-index: 999;
    background-color: white;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

