<div ng-init="publicationCtrl.getPublications()">

    <table datatable="ng" dt-options="publicationCtrl.dtOptions" dt-column-defs="publicationCtrl.dtColumnDefs" class="table-striped">
        <thead>
            <tr>
                <th class="text-center">ID</th>
                <th class="text-center">FirstName</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="publication in publicationCtrl.publications">
                <td>{{ publication.id }}</td>
                <td>{{ publication.name}}</td>
                <td class="text-center">
                    <a href="" ng-click="publicationCtrl.getPublication(publication.id)" class="btn btn-warning">Edit</a>
                    <a href="" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>

</div>
