
<div class="page-header">
    <h2 class="text-center">Activate Your Account</h2>
</div>

<div class="col-md-offset-3 col-md-6">

    <div ng-show="errorMessage" class="alert alert-msg alert-danger" role="alert">
        {{errorMessage}}
    </div>

    <!-- Panel Starts Here -->
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Confirm Password</h3>
        </div>
        <div class="panel-body">
            <form ng-submit="authCtrl.activateAccount()">

                {{authCtrl.confirmAccount.userName}}

                <div class="form-group">
                    <label for="Password">Password</label>

                    <input type="password" ng-model="authCtrl.confirmAccount.password" class="form-control" placeholder="Enter Password" />

                </div>

                <input type="submit" value="Submit" class="btn btn-success col-md-12" />

            </form>
        </div>
    </div>
</div>

