
<div class="page-header">
    <h2 class="text-center">Activate Your Account</h2>
</div>

<div class="col-md-offset-3 col-md-6">

    <!-- Panel Starts Here -->
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Confirm Password</h3>
        </div>
        <div class="panel-body">
            <form name="activateForm" ng-submit="authCtrl.activateAccount()" novalidate>

                <div class="form-group" ng-class="{'has-error has-feedback': activateForm.password.$invalid && activateForm.password.$touched
                          || activateForm.password.$invalid && activateForm.$submitted,
                         'has-success has-feedback': activateForm.password.$valid
                          || activateForm.password.$valid && activateForm.$submitted}">
                    <label for="Password">Password</label>

                    <input type="password"
                           name="password"
                           ng-model="authCtrl.confirmAccount.password"
                           class="form-control"
                           placeholder="Enter Password"
                           required />

                    <span class="glyphicon form-control-feedback"
                          ng-class="{'glyphicon-ok': activateForm.password.$valid || activateForm.password.$valid && setPasswordForm.$submitted,
                          'glyphicon-remove': activateForm.password.$invalid && activateForm.password.$touched || activateForm.password.$invalid && activateForm.$submitted}">
                    </span>
                    <div ng-show="activateForm.password.$invalid && activateForm.password.$touched || activateForm.$submitted">
                        <span ng-show="activateForm.password.$error.required" class="text-danger small">Please, provide password.</span>
                    </div>
                </div>

                <input type="submit"
                       ng-disabled="activateForm.$invalid"
                       value="Submit"
                       class="btn btn-success col-md-12" />

            </form>
        </div>
    </div>
</div>

